<!-- <br><br><br>
    <div class="container w3-row bcdcard">
        <div class="w3-col m2 text-center">
          <img class="w3-circle" src="https://www.w3schools.com/w3images/avatar2.png" style="width:96px;height:96px">
        </div>
        <div class="w3-col m10 w3-container">
          <div style="position: relative; height: 43px;">
          <h4 class="reviewUserName">John <span class="w3-opacity w3-medium">Sep 29, 2014, 9:12 PM</span></h4>
            <span class="rating">
                <input type="radio" name="test" id="zero" checked />
                <input type="radio" name="test" id="one" />
                <label for="one"><i class="fa fa-star"></i></label>
                <input type="radio" name="test" id="two" />
                <label for="two"><i class="fa fa-star"></i></label>
                <input type="radio" name="test" id="three" />
                <label for="three"><i class="fa fa-star"></i></label>
                <input type="radio" name="test" id="four" />
                <label for="four"><i class="fa fa-star"></i></label>
                <input type="radio" name="test" id="five" />
                <label for="five"><i class="fa fa-star"></i></label>
            </span>
          </div>
          <p>Keep up the GREAT work! I am cheering for you!! Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p><br>
        </div>
</div>
<br><br><br> -->
<!-- 

<button><a  href="#ex1" rel="modal:open">hahha</a></button> -->



<body bgcolor="#afafaf">

    <link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    
    <br>
    <br>
    <br>
    <div class="wrapper">
        <form method="post" action="" class="ccform">
        <div class="ccfield-prepend">
            <span class="ccform-addon"><i class="fa fa-map-marker fa-3x"></i></span>
            
                <div id="container">
                    <nav>
                        <ul>
                            
                            <li><a href="#">CITY</a>
                            <!-- First Tier Drop Down -->
                            <ul>
                                <li><a href="#">Themes</a></li>
                                <li><a href="#">Plugins</a></li>
                                <li><a href="#">Tutorials</a></li>
                            </ul>        
                            </li>
                          
                        </ul>
                    </nav>
                </div>
        </div>
        <div class="ccfield-prepend">
            <span class="ccform-addon"><i class="fa fa-map fa-3x"></i></span>
            <div id="container">
              <nav>
                  <ul>
                      
                      <li><a href="#">CITY</a>
                      <!-- First Tier Drop Down -->
                      <ul>
                          <li><a href="#">Themes</a></li>
                          <li><a href="#">Plugins</a></li>
                          <li><a href="#">Tutorials</a></li>
                      </ul>        
                      </li>
                    
                  </ul>
              </nav>
          </div>
        </div>
        <div class="ccfield-prepend">
            <span class="ccform-addon"><i class="fa fa-star fa-3x"></i></span>
            <div class="star-rating">
        
              <input id="star-5x" type="radio" name="rating" value="star-5" />
              <label for="star-5x" title="5 stars">
                  <i class="fa fa-star"></i>
              </label>
          
              <input id="star-4x" type="radio" name="rating" value="star-4" />
              <label for="star-4x" title="4 stars">
                  <i class="fa fa-star"></i>
              </label>
          
              <input id="star-3x" type="radio" name="rating" value="star-3" checked />
              <label for="star-3x" title="3 stars">
                  <i class="fa fa-star"></i>
              </label>
          
              <input id="star-2x" type="radio" name="rating" value="star-2" />
              <label for="star-2x" title="2 stars">
                  <i class="fa fa-star"></i>
              </label>
          
              <input id="star-1x" type="radio" name="rating" value="star-1" />
              <label for="star-1x" title="1 star">
                  <i class="fa fa-star"></i>
              </label>
              
          </div>
          
        </div>
         <div class="ccfield-prepend" align="center">
            <span class="ccform-addon"><i class="fa fa-picture-o fa-3x"></i></span>
            <form action="/action_page.php">
              <input type="file" name="pic" accept="image/*">
            </form>
            
        </div>
        <br><br>
        <div class="ccfield-prepend">
            <span class="ccform-addon"><i class="fa fa-comment fa-3x"></i></span>
            <textarea class="ccformfield" name="comments" rows="8" placeholder="REVIEW" required></textarea>
        </div>
        <div class="ccfield-prepend" align="right">
            <input class="ccbtn" type="submit" value="Submit">
        </div>
        </form>
    </div>
    
    </body>