<br>
<!-- ontouchstart used for card flip -->
<div class="row">
  <div class="col-md-3">
    <div class="wrapper " ontouchstart="this.classList.toggle('hover');">
      <div class="flipper ">
        <div class="card-front ">
          <div class="logo">
            <h2 class="initial">A</h2>
          </div>
          <div class="oval"></div>
        </div>
        <div class="card-back">
          <h1 class="name">ABC</h1>
          <h3 class="h3 about"></h3>
          <h3 class="h3 contact-info">abc@abc.com</h3>
        </div>
      </div>
      <!--/flipper -->
    </div>
  </div>
  <div class="col-md-3">
    <div class="wrapper " ontouchstart="this.classList.toggle('hover');">
      <div class="flipper ">
        <div class="card-front ">
          <div class="logo">
            <h2 class="initial">1</h2>
          </div>
          <div class="oval"></div>
        </div>
        <div class="card-back">
          <h1 class="name">First</h1>
          <h3 class="h3 about">FrontEnd Debbuger & BackEnd Developer</h3>
          <h3 class="h3 about">Contact No. 123456789</h3>
          <h3 class="h3 contact-info">first@beenthere.com</h3>
        </div>
      </div>
      <!--/flipper -->
    </div>
  </div>
  <div class="col-md-3">
    <div class="wrapper " ontouchstart="this.classList.toggle('hover');">
      <div class="flipper ">
        <div class="card-front ">
          <div class="logo">
            <h2 class="initial">2</h2>
          </div>
          <div class="oval"></div>
        </div>
        <div class="card-back">
          <h1 class="name">Second</h1>
          <h3 class="h3 about">FrontEnd Developer & BackEnd Tester</h3>
          <h3 class="h3 about">Contact No. 123456789</h3>
          <h3 class="h3 contact-info">second@beenthere.com</h3>
        </div>
      </div>
      <!--/flipper -->
    </div>
  </div>
  <div class="col-md-3">
    <div class="wrapper " ontouchstart="this.classList.toggle('hover');">
      <div class="flipper ">
        <div class="card-front ">
          <div class="logo">
            <h2 class="initial">3</h2>
          </div>
          <div class="oval"></div>
        </div>
        <div class="card-back">
          <h1 class="name">Third</h1>
          <h3 class="h3 about">Front End Developer & Tester</h3>
          <h3 class="h3 about">Contact No. 123456789</h3>
          <h3 class="h3 contact-info">third@beenthere.com</h3>
        </div>
      </div>
      <!--/flipper -->
    </div>
  </div>
  <div class="col-md-3">
    <div class="wrapper " ontouchstart="this.classList.toggle('hover');">
      <div class="flipper ">
        <div class="card-front ">
          <div class="logo">
            <h2 class="initial">4</h2>
          </div>
          <div class="oval"></div>
        </div>
        <div class="card-back">
          <h1 class="name">Fourth</h1>
          <h3 class="h3 about">FrontEnd Developer & Designer</h3>
          <h3 class="h3 about">Contact No. 123568795</h3>
          <h3 class="h3 contact-info">Fourth@beenthere.com</h3>
        </div>
      </div>
      <!--/flipper -->
    </div>
  </div>
  <div class="col-md-3">
    <div class="wrapper " ontouchstart="this.classList.toggle('hover');">
      <div class="flipper ">
        <div class="card-front ">
          <div class="logo">
            <h2 class="initial">5</h2>
          </div>
          <div class="oval"></div>
        </div>
        <div class="card-back">
          <h1 class="name">Fifth</h1>
          <h3 class="h3 about">FrontEnd Designer & Debbuger </h3>
          <h3 class="h3 about">Contact No. 123456897</h3>
          <h3 class="h3 contact-info">Fifth@beenthere.com</h3>
        </div>
      </div>
      <!--/flipper -->
    </div>
  </div>
  <div class="col-md-3">
    <div class="wrapper " ontouchstart="this.classList.toggle('hover');">
      <div class="flipper ">
        <div class="card-front ">
          <div class="logo">
            <h2 class="initial">A</h2>
          </div>
          <div class="oval"></div>
        </div>
        <div class="card-back">
          <h1 class="name">Aseem Garg</h1>
          <h3 class="h3 about">FrontEnd Designer & Tester</h3>
          <h3 class="h3 about">Contact No. 9085555155</h3>
          <h3 class="h3 contact-info">Aseem01@infosys.com</h3>
        </div>
      </div>
      <!--/flipper -->
    </div>
  </div>
  <div class="col-md-3">
    <div class="wrapper " ontouchstart="this.classList.toggle('hover');">
      <div class="flipper ">
        <div class="card-front ">
          <div class="logo">
            <h2 class="initial">P</h2>
          </div>
          <div class="oval"></div>
        </div>
        <div class="card-back">
          <h1 class="name">Pratap Sawant</h1>
          <h3 class="h3 about">FrontEnd Designer</h3>
          <h3 class="h3 about">Contact No. 8088404456</h3>
          <h3 class="h3 contact-info">Pratap03@infosys.com</h3>
        </div>
      </div>
      <!--/flipper -->
    </div>
  </div>
</div>
<br><br>
