<section id="hero1" class="hero">
<div class="main-w3layouts wrapper" *ngIf="!isloggedin">
    <h1>Admin Login</h1>
     
          <div class="main-agileinfo">
              <div class="agileits-top">

    <form [formGroup]="adminLoginForm" (ngSubmit)="Adminlogin()" class="form">
      <div class="form-group">
        <!-- <label for="adminId">Username</label> -->
        <input type="text"  placeholder="AdminId" class="form-control" formControlName="loginId" id="loginId" autocomplete="off">
        <span id="adminIdError" class="error-message" *ngIf="!adminLoginForm.controls.loginId.valid && adminLoginForm.controls.loginId.dirty">Enter valid Username</span>
      </div><br>
      <div class="form-group">
        <!-- <label for="password">Password</label> -->
        <input type="password"  placeholder="Password" class="form-control" formControlName="password" id="password" autocomplete="off">
        <span id="passwordError" class="error-message" *ngIf="!adminLoginForm.controls.password.valid && adminLoginForm.controls.password.dirty">Invalid Password</span>
      </div>
      <div>
        <br>
      <!-- <button class="btn btn-primary" type="submit">Login</button> -->
      <input  type="submit" value="LOGIN">
    </div>
    </form>

 

    <div *ngIf="errorMessage!=null">
      <span class="text-danger">{{errorMessage}}</span>
    </div>
    
     
    
        
    </div>
    <div class="colorlibcopy-agile">
        <p>© 2019 Been There Signup Form. All rights reserved </p>
      </div>
    <ul class="colorlib-bubbles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
  </div>
  
</div>
 <div *ngIf="isloggedin"> <app-admin-dash-board ></app-admin-dash-board></div> 
</section>