<body style="background-image: url(https://d2718nis.github.io/img/background.png)">
  <br><br><br><br><br><br><br><br>
  <!-- <section id="hero1" class="hero" class="amenities-area section_gap" > -->
      <!-- <div class="inner"> -->
        <!-- <div class="copy"> -->
  <div class="container">
      <div style="text-align: center" >
      <h1 class="classStyle" >Connect to Other User</h1>
      </div>
  <br>
  <div class="column">
  
  
              <form [formGroup]="SearchForm" (ngSubmit)="search()">
              
              <div class="form-group" style="text-align: center">
                      <label for="friendName"></label>
                          <select class="un" searchable="Search here.."  formControlName="friendName" id="friendName">
                              <option class="un" disabled value=""> Search Friend </option>
                              <option class="un" *ngFor="let i of users" [value]="i.email">{{i.name}}</option>
                          </select>
              </div>
  
  
              <div style="text-align: center" >
              <button class="btn1" type="submit">Lets Chat!</button>
              </div>
          
              <button class="btn2" (click)="refresh()">Refresh</button>
              </form>
  
  
  
  <div *ngIf="friend!=null">
      
      <form [formGroup]="MessageForm" (ngSubmit)="store()" >
        
        <div class="form-group" style="text-align: center">
            <label for="data"></label>
            <input type="text" class="form-control" formControlName="data" id="data">
        </div>
  
        <div>
          <button class="btn2" (click)="xyz()" type="submit">Send!!</button>
          
        </div>
      </form>
        
      <div *ngIf="messages2!=null">
  
  
        
              <div  *ngFor="let m of messages">
                
                <div class="msg1" *ngIf="storeuserId==m.senderEmailId" >
                    {{MyName}} : {{m.data}}
                </div>
              
                <div class="msg2" *ngIf="storeuserId!=m.senderEmailId" >
                    {{friendName}} : {{m.data}}
                </div>
  
              </div>
      
  
  
      </div>
  </div>
  
  
  
  
  </div>
  </div>
  <!-- </div> -->
  <!-- </div> -->
  <!-- </section> -->
  <br><br><br>
  </body>