<div class="container">
  <div class="feedback-list" *ngIf="displayQueries">
    <div class="feedback" *ngFor="let currQuery of allQueries">
      <div class="profile-pic" style="background: url('https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50')">
      </div>
      
        <div class="row">
            <p class="col-sm-8" style="display: inline;"><strong>SUBJECT: </strong>{{currQuery.querySubject}}</p>
            <p class="col-sm-4" style="float: right; display: inline;">
              <strong>{{currQuery.queryStatus}}</strong>
            </p>
        </div>
        <blockquote>
        {{currQuery.query}}
      </blockquote>
      <div class="author">
        {{currQuery.userId}}
      </div>

      <div class="replyButton" (click)="action()" *ngIf="replyToQuery==false">
        Reply ..
        <span class="fa-stack fa-2x">
          <i class="fa fa-reply-all" aria-hidden="true"></i>
        </span>
      </div>
      <div *ngIf="replyToQuery">
        <form>
          <div class="col-2">
            <label>
              REPLY
              <input placeholder="Add your reply here" tabindex="1" />
            </label>
          </div>
          <div class="col-2">
            <label>
              STATUS
              <select tabindex="5">
                <option>--Select--</option>
                <option>SOLVED</option>
                <option>IN PROGRESS</option>
              </select>
            </label>
          </div>
          <br>
          <div class="myButton" align="center" (click)="replyToThisQuery()">SUBMIT</div>
        </form>
      </div>
    </div>


  </div>
</div>