<div class="main relative">
  <div id="myCarousel" class="carousel slide" data-ride="carousel" *ngIf="this.router.url=='/'">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
      <li data-target="#myCarousel" data-slide-to="4"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">


      <div class="item active">
        <!-- <video autoplay>
                  <source src="../assets/Stunning Landscape of Leh Ladakh, Himalayas (Drone, 4k).mp4" type="video/mp4">
                  <source src="../assets/Stunning Landscape of Leh Ladakh, Himalayas (Drone, 4k).mp4" type="video/ogg">
                </video> -->

        <img src="{{sPic}}" alt="Beach">

        <div class="carousel-caption">

          <h3>GOA</h3>

          <p>“ The best type of therapy is the Beach Therapy. ”</p>

        </div>

      </div>

      <div class="item  ">

        <img src="{{aPic}}" alt="Chania">

        <div class="carousel-caption">

          <h3>Taj Mahal</h3>

          <p>“Once a year, go someplace you've never been before.”</p>

        </div>

      </div>



      <div class="item">

        <img src="{{bPic}}" alt="Chania">

        <div class="carousel-caption">

          <h3>Kodaikanal</h3>

          <p>“Leave nothing but footprints, Take nothing but photos, Kill nothing but time.”</p>

        </div>

      </div>



      <div class="item">

        <img src="{{cPic}}" alt="Flower">

        <div class="carousel-caption">

          <h3>Mehrangarh Fort</h3>

          <p>“Fill your life with adventures, not things. Have stories to tell not stuff to show.”</p>

        </div>

      </div>



      <div class="item">

        <img src="{{dPic}}" alt="Flower">

        <div class="carousel-caption">

          <h3>Sikkim</h3>

          <p>“Live with No Excuses, Travel with no Regrets.”</p>

        </div>

      </div>



      <div class="item">


        <img src="{{ePic}}" alt="Flower">

        <div class="carousel-caption">

          <h3>Leh-Ladakh</h3>

          <p>“There is a Whole World out there. Pack your backpack , your best friend and go.”</p>

        </div>

      </div>

    </div>



    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <!-- ------------------------search bar----------------------------- -->

  <div class="absolute" *ngIf="this.router.url=='/'">
    <!-- <div id="searchBarDiv">
          <input type="text" placeholder="Search....." #userText (keyup)="textChanged(userText.value)">
          <button class=" fa-search fa">
            
          </button>
      </div> -->
    <div id="searchBarDiv">

      <div>

        <input type="text" id="searchInputField" #box (keyup)="textChanged(box.value)" autocomplete="off">

        <button class="fa fa-search" (click)="loadSearchResults()"></button>

      </div>

      <div *ngIf="fetchedResult" class="searchResultsBorder">
        <div *ngFor="let res of listOfMatchedResults" class="searchResultDiv ">

          <hr class="searchResultSeparator">

          <div class="searchResultOption" (click)="searchResultSelected(res.split(':')[2])">

            {{res.split(":")[2]}}

          </div>

        </div>

      </div>

    </div>


  </div>



  <!--================ Start Amenities Area =================-->

  <section id="hero1" class="hero" class="amenities-area section_gap" *ngIf="this.router.url=='/'">
    <div class="inner">
      <div class="copy">
        <!-- <section class="amenities-area section_gap" *ngIf="this.router.url=='/'"> -->
        <div class="container">
          <div class="row align-items-end justify-content-left">
            <div class="text-">
              <div class="main_title">
                <div class="description">
                  <div class="description-quote">
                    <h1 style="text-align: center">TRENDING DESTINATIONS</h1>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <br>
          <br>
          <div class="row justify-content-center" >
            <!-- single-blog -->
            <div class="col-lg-4 col-md-4 col-sm-6" *ngFor="let trend of homePageData.trendingPlace">
              <div class="single-amenities" (click)="loadPlaceWithId(trend.placeId)">
                <div class="amenities-thumb">
                  <img class="image" src="../assets/MANALI1.jpg" alt="">
                </div>
                <div class="amenities-details">
                  <div class="amenities-meta">
                    <span class="xbootstrap">{{trend.name}}</span>
                  </div>
                  <h5>No. Of Visits: {{trend.noOfReviews}}</h5>
                  <i id="q1">{{trend.description}}
                   
                  </i>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>

  </section>
  <!--================ End Amenities Area =================-->
  <section id="hero1" class="hero" class="amenities-area section_gap" *ngIf="this.router.url=='/'">
    <div class="inner">
      <div class="copy">
          <div class="container" *ngIf="this.router.url=='/'">
            <div class="row align-items-end justify-content-left">
                <div class="text-">
                  <div class="main_title">
                    <div class="description">
                      <div class="description-quote">
                        <h1 style="text-align: center">YOUR FEEDBACK, OUR PRIDE</h1>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <figure class="snip0042 yellow col-md-4" *ngFor="let review of homePageData.topSiteFeedbacks">
              <figcaption>
                <h2> <span>{{review.userName}}</span></h2>
                <p>{{review.feedback}}</p>
                <p><strong>Rating : </strong>{{review.satisfactionLevel}} <strong>/ 5</strong></p>
              </figcaption>
              <img
                src="https://static.independent.co.uk/s3fs-public/thumbnails/image/2015/06/06/15/Chris-Pratt.jpg?w968h681"
                alt="sample5" />
              <figcaption>
                <div class="icons">
                  <a><i class="ion-ios-email"><p style="display: inline; font-size: 16px;"> {{review.userId}}</p></i></a>
                </div>
              </figcaption>
            </figure>
          </div>
        <!-- <section class="amenities-area section_gap" *ngIf="this.router.url=='/'"> -->
        <div class="container">
          <div class="row align-items-end justify-content-left">
            <div class="text-">
              <div class="main_title">
                <div class="description">
                  <div class="description-quote">
                    <h1 style="text-align: center">MOST SEARCHED PLACES</h1>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <br>
          <br>
          <div class="row justify-content-center">
            <!-- single-blog -->
            <div class="col-lg-4 col-md-4 col-sm-6" *ngFor="let topSearched of homePageData.topSearchedPlaces">
              <div class="single-amenities" (click)="loadPlaceWithId(topSearched.placeId)">
                <div class="amenities-thumb">
                  <img class="image" src="../assets/Trekking1.jpg" alt="">
                </div>
                <div class="amenities-details">
                  <div class="amenities-meta">
                    <span class="xbootstrap">{{topSearched.name}}</span>
                  </div>
                  <h5>Page Visits: {{topSearched.pageViewCount}}</h5>
                  <i id="q1">{{topSearched.description}}
                    </i>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>

  </section>
  <!-- ***************************************************** -->
</div>
<br>
<br><br>
<section id="hero2" class="hero">
  <div class="inner">
    <div class="copy">
      <div id="card-container" offset="2" *ngIf="this.router.url=='/'">
        <div class="">
        </div>
        <br><br><br>
      </div>

      <!--================ Start Trending Amenities Area =================-->

      <!--================ End Amenities Area =================-->

    </div>
    <br>
    <br><br>
    <section id="hero2" class="hero">
      <div class="inner">
        <div class="copy">
          <div id="card-container" offset="2" *ngIf="this.router.url=='/'">
            <div class="">
            </div>
            <br><br><br>
          </div>         
        
        </div>
      </div>