.replyButton {
    position: absolute;
    right: 2.5%;
    bottom: 16%;
    padding-left: 7px;
  }
  
  .makeWholeDivATag {
    width: 100%;
    height: 100%;
  }
  
  .replyButton:hover {
    cursor: pointer;
  }
  
  
  .feedback-list {
    display: flex;
    flex-wrap: wrap;
    padding: 50px 10px;
  }
  
  .feedback {
    margin: 50px 10px 10px 50px;
    padding: 50px 40px 40px 50px;
    border: 1px solid #ccc;
    border-radius: 50px;
    min-height: 100px;
    position: relative;
    box-shadow: 3px 4px 2px grey;
    font-size: 0.9rem;
    background-color:rgb(255, 255, 255);
    width:100%;
    
    
  }
  
  .feedback .profile-pic {
    background-repeat: no-repeat;
    width: 80px;
    height: 80px;
    position: absolute;
    top: -40px;
    left: -40px;
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
  }
  
  .feedback blockquote:before {
    content: open-quote;
    display: inline-block;
    font-size: 4rem;
    line-height: 0.1rem;
    margin-right: 0.1em;
    vertical-align: -0.4em;
  }
  
  .feedback blockquote {
    margin-bottom: 0.5em;
  }
  
  .feedback blockquote:after {
    content: close-quote;
    visibility: hidden;
    line-height: 0;
  }
  
  .feedback .author {
      position: relative;
    font-size: 0.8rem;
    color: #000;
    text-align: left;
    font-style: italic;
  }
  
  .feedback .author:before {
    content: "-"
  }
  
  /* ********************************** FORM CODE ****** */
  
  
  form
  {
  display: block;
  margin: 50px auto;
  width: 100%;
  overflow: hidden;
  background: #FFF;
  border: 1px solid #E4E4E4;
  border-radius: 5px;
  font-size: 0;
  }
  
  form > div
  {
  display: inline-block;
  width: 100%;
  }
  
  form > div > label
  {
  display: block;
  padding: 20px 20px 10px;
  
  font-family: Source Sans Pro, Arial, sans-serif;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  color: #000000;
  cursor: pointer;
  }
  
  form > div.col-2, form > div.col-3, form > div.col-4 { box-shadow: 1px 1px #E4E4E4 }
  
  form > div.col-2 { width: 50% }
  form > div.col-3 { width: 33.3333333333% }
  form > div.col-4 { width: 25% }
  
  form > div > label > input
  {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 27px;
  line-height: 27px;
  margin: 5px -5px 0;
  padding: 7px 5px 3px;
  border: none;
  outline: none;
  border-radius: 3px;
  background: transparent;
  font-size: 14px;
  font-weight: 200;
  opacity: .66;
  transition: opacity .3s;
  }
  
  form > div > label > select
  {
  display: block;
  width: 100%;
  margin: 16px 0 6px;
  padding: 0;
  background: transparent;
  border: none;
  outline: none;
  font-size: 14px;
  font-weight: 200;
  opacity: .33;
  }
  
  form > div > label > input:focus, form > div > label > select:focus
  {
  opacity: 1;
  }
  
  /* *******************SEND BUTTON*********************** */
  
  
  .myButton {
  -moz-box-shadow:inset 0px 1px 0px 0px #000000;
  -webkit-box-shadow:inset 0px 1px 0px 0px #000000;
  box-shadow:inset 0px 1px 0px 0px #000000;
  background-color:#53555a;
  border:1px solid #000000;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Verdana;
  font-size:13px;
  font-weight:bold;
  padding:14px 44px;
  text-decoration:none;
  }
  .myButton:hover {
  background-color:#6b6f79;
  }
  .myButton:active {
  position:relative;
  top:1px;
  }
  