<section id="hero3" class="hero">

    <div class="row" align="center">
  
      <div class="card">
        <div class="row align-items-end justify-content-left">
          <div class="text-">
            <div class="main_title">
              <div class="description">
                <div class="description-quote">
                  <h1 style="text-align: center">{{cityToBeDisplayed.name }}</h1>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="main ">
          <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#myCarousel" data-slide-to="1"></li>
              <li data-target="#myCarousel" data-slide-to="2"></li>
              <li data-target="#myCarousel" data-slide-to="3"></li>
              <li data-target="#myCarousel" data-slide-to="4"></li>
            </ol>
  
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
  
  
              <div class="item active">
                <!-- <video autoplay>
                            <source src="../assets/Stunning Landscape of Leh Ladakh, Himalayas (Drone, 4k).mp4" type="video/mp4">
                            <source src="../assets/Stunning Landscape of Leh Ladakh, Himalayas (Drone, 4k).mp4" type="video/ogg">
                          </video> -->
  
                <img src="{{sPic}}" alt="Beach">
  
                
  
              </div>
  
              <div class="item  ">
  
                <img src="{{aPic}}" alt="Chania">
  
                
  
              </div>
  
              <div class="item">
  
                <img src="{{bPic}}" alt="Chania">
  
                
  
              </div>
  
  
              <div class="item">
  
                <img src="{{cPic}}" alt="Flower">
  
                
  
              </div>
  
              <div class="item">
  
                <img src="{{dPic}}" alt="Flower">
  
                
  
              </div>
  
  
              <div class="item">
  
  
                <img src="{{ePic}}" alt="Flower">
  
                
  
              </div>
  
            </div>
          </div>
  
  
  
        </div>
  
        
            <h4 class="title1">
              {{cityToBeDisplayed.description}}
            </h4>
          </div>
  
    </div>
    
        <div class="text-">
          <div class="main_title">
        
              <div class="description-quote">
                <h1 style="text-align: center">Places To Visit </h1>
              </div>
            </div>
          </div>
        
      
  
    <!--Place cards-->
    <div class="container">
      <div class="row">
  
        <hr>
        <div class="row row-margin-bottom">
          <div class="col-md-6 no-padding lib-item" data-category="ui" *ngFor="let placeInCity of placesList">
            <div class="lib-panel" (click)="loadPlaceWithId(placeInCity.placeId)">
              <div class="row box-shadow" [routerLink]="['/userviewplace']">
                <div>
                  <img src="https://images.wallpaperscraft.com/image/mountains_snow_night_136396_1280x720.jpg" alt="fa fa-map-marker"
                    class="responsive">
                </div>
                <div>
                  <div class="lib-row lib-header">
                    {{placeInCity.name}}
                    <div class="lib-header-seperator"></div>
                  </div>
                  <div class="lib-row lib-desc">
                    {{placeInCity.description}}
                  </div>
                </div>
              </div>
            </div>
          </div>
  
        
        </div>
      </div>
    </div>
  
  </section>