
/* ******************************* Place CArds */

* {
    box-sizing: border-box;
  }
  #map {
          height: 700px;  
          width: 1200px;  
         }
  p1 {
    text-indent: 50px;
    text-align: justify;
    letter-spacing: 2px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    
  }
  .font {
     
      text-align: center;
      font-family: arial;
  }
  body {
    font-family: Arial;
    padding: 10px;
    background: #f1f1f1;
  }
  
  /* Header/Blog Title */
  /* h1{
    text-transform: uppercase;
    letter-spacing: .5em;
    display: inline-block;
    padding: 1.5em 0em;
    font-weight: bold;
    font-size: 30px;
    position: relative;
    top: 80%;
    width: 40%;
    margin: 0 0 0 -10em;
    color: #fff;
  } */
  h1{
    
    font-weight: bold;
    font-size: 30px;
    width: 40%;
    color: #fff;
    display: inline-block;
    top: 30px;
    letter-spacing:.2em;
  
  }
  h2{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    
    color: #fff;
    padding: 1.5em 0em;
    display: inline-block;
    top: 30px;
    letter-spacing:.2em;
  }
  h3{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    
    color: #fff;
    letter-spacing:.2em;
  
  }
  
  /* Style the top navigation bar */
  .topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  /* Style the topnav links */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change color on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Create two unequal columns that floats next to each other */
  /* Left column */
  .leftcolumn {   
    float: left;
    width: 75%;
  }
  
  /* Right column */
  .rightcolumn {
    float: left;
    width: 25%;
    background-color: #f1f1f1;
  
  }
  
  
  /* Add a card effect for articles */
  .card {
    padding: 10px;
    width:90%;

    text-align: left;
    font-family: arial;
    background:url(https://d2718nis.github.io/img/background.png);
    /* background:linear-gradient(rgb(0, 183, 255), whitesmoke, skyblue);  */
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Footer */
  .footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
  }
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
      width: 100%;
      padding: 0;
    }
  }
  
  /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
  @media screen and (max-width: 400px) {
    .topnav a {
      float: none;
      width: 100%;
    }
  }
  
  /* ******************************* make image responsive**************************************** */
  .responsive {
    max-width: 100%;
    height: auto;
  }
  #hero1{
    background:url(https://d2718nis.github.io/img/background.png);
     background-size:cover;
     background-position:center center;
     background-attachment:fixed;
  }
  #h7 {
    
    letter-spacing: .5em;
    display: inline-block;
    padding: 1.5em 0em;
    font-weight: bold;
    font-size: 30px;
    position: relative;
    top: 80%;
    left: 10%;
    width: 40em;
    margin: 0 0 0 -10em;
    color: #fff;
  }
  div.ex1 {
    width: 250%;
    height: 150px;
    overflow: auto;
  
  }
  .content1 {
    align-items:center;
    justify-content:center;
  
  }
  
  .title1 {
    font-size: 18px;
    font-family: 'Verdana', cursive;
    color:whitesmoke;
    word-spacing: .2em;
    
  }
  
  /* ******************************* footer**************************************** */
  
  #myFooter {
    background-color: #3c3d41;
    color: white;
    padding-top: 30px;
  }
  
  #myFooter .footer-copyright {
    background-color: #333333;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
  }
  
  #myFooter .row {
    margin-bottom: 60px;
  }
  
  #myFooter .navbar-brand {
    margin-top: 45px;
    height: 65px;
  }
  
  #myFooter .footer-copyright p {
    margin: 10px;
    color: #ccc;
  }
  
  #myFooter ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
  }
  
  #myFooter h5 {
    font-size: 18px;
    color: white;
    font-weight: bold;
    margin-top: 30px;
  }
  
  #myFooter h2 a{
    font-size: 50px;
    text-align: center;
    color: #fff;
  }
  
  #myFooter a {
    color: #d2d1d1;
    text-decoration: none;
  }
  
  #myFooter a:hover,
  #myFooter a:focus {
    text-decoration: none;
    color: white;
  }
  
  #myFooter .social-networks {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 16px;
  }
  
  #myFooter .social-networks a {
    font-size: 32px;
    color: #f9f9f9;
    padding: 10px;
    transition: 0.2s;
  }
  
  #myFooter .social-networks a:hover {
    text-decoration: none;
  }
  
  #myFooter .facebook:hover {
    color: #0077e2;
  }
  
  #myFooter .google:hover {
    color: #ef1a1a;
  }
  
  #myFooter .twitter:hover {
    color: #00aced;
  }
  
  #myFooter .btn {
    color: white;
    background-color: #d84b6b;
    border-radius: 20px;
    border: none;
    width: 150px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    line-height: 25px;
  }
  
  @media screen and (max-width: 767px) {
    #myFooter {
        text-align: center;
    }
  }
  
  #myFooter{
    flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
  }
  
  
  .footer {
    position: relative;
    
    background-color: black;
    text-align: center;
    
    
    
    }
    /* ************************* slider *************************************************** */
    
    .media-carousel 
{
  margin-bottom: 0;
  padding: 0 40px 30px 40px;
  margin-top: 50px;
}
/* Previous button  */
.media-carousel .carousel-control.left 
{
  left: -12px;
  background-image: none;
  background: none repeat scroll 0 0 #222222;
  border: 4px solid #FFFFFF;
  border-radius: 23px 23px 23px 23px;
  height: 40px;
  width : 40px;
  margin-top: 80px
}
/* Next button  */
.media-carousel .carousel-control.right 
{
  right: -12px !important;
  background-image: none;
  background: none repeat scroll 0 0 #222222;
  border: 4px solid #FFFFFF;
  border-radius: 23px 23px 23px 23px;
  height: 40px;
  width : 40px;
  margin-top: 80px
}
/* Changes the position of the indicators */
.media-carousel .carousel-indicators 
{
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}
/* Changes the colour of the indicators */
.media-carousel .carousel-indicators li 
{
  background: #161414;
}
.media-carousel .carousel-indicators .active 
{
  background: #333333;
}
.media-carousel img
{
  width: 450px;
  height: 200px
}

/* -------------------Slider------------------------ */

body {background: #ccc;}

.slider{
	width: 640px; /*Same as width of the large image*/
	position: relative;
	/*Instead of height we will use padding*/
	padding-top: 320px; /*That helps bring the labels down*/
	
	margin: 100px auto;
	
	/*Lets add a shadow*/
	box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.75);
}


/*Last thing remaining is to add transitions*/
.slider>img{
	position: absolute;
	left: 0; top: 0;
	transition: all 0.5s;
}

.slider input[name='slide_switch'] {
	display: none;
}

.slider label {
	/*Lets add some spacing for the thumbnails*/
	margin: 18px 0 0 18px;
	border: 3px solid #999;
	
	float: left;
	cursor: pointer;
	transition: all 0.5s;
	
	/*Default style = low opacity*/
	opacity: 0.6;
}

.slider label img{
	display: block;
}

/*Time to add the click effects*/
.slider input[name='slide_switch']:checked+label {
	border-color: #666;
	opacity: 1;
}
/*Clicking any thumbnail now should change its opacity(style)*/
/*Time to work on the main images*/
.slider input[name='slide_switch'] ~ img {
	opacity: 0;
	transform: scale(1.1);
}
/*That hides all main images at a 110% size
On click the images will be displayed at normal size to complete the effect
*/
.slider input[name='slide_switch']:checked+label+img {
	opacity: 1;
	transform: scale(1);
}
/**********************************************/
/* ______________________________________________ */



.footer {
    position: relative;
    
    background-color: black;
    text-align: center;
    }
    .agro{
    text-align: left;
    margin-left: 1%;
    }
    .main {
        top: -61px;
    margin-top: 70px; /* Add a top margin to avoid content overlay */
    }
    
    .row{
    margin:10px;
    }
    .foot{
    background-color:black;
    width:1360.2px;
    margin-left:-2%;
    margin-right: -2%;
    
    
    }
    .btn{
    background-color:none;
    
    }
    .main{
    margin-top: -1.5%;
    }
    .about>.container-fluid>.row>.col-md-3>img{
    width:550px;
    height:400px;
    border: 10px solid transparent;
    padding: 15px;
    }
    
    .about>.container-fluid>.row{
    margin-top: 3%;
    
    }
    
    
    .glyphicon{
      color:white;
      padding-right: 5px;   
    }
    
  
    .carousel-inner > .item > img,
    .carousel-inner > .item > a > img {
      width: 100%;
      height: 490px;
      margin: auto;
    }
    
  .error-message{
  color: red;
  font-size: small;
  }
  .image{
    width:100%;
  }
  
  

#hero3{
    background:url(https://images.wallpaperscraft.com/image/cubes_structure_black_blue_120005_1280x720.jpg);
     background-size:cover;
     background-position:center center;
     background-attachment:fixed;
     opacity: 0.9;
    }
/* <-------------------------------------nalin work--------------------------------------> */
.description {
    
    color: #fff;
    padding-top: 20px;
    background-color: #2e303b;
    background-image: url(https://d2718nis.github.io/img/background.png);
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 1px solid #eee;
   
    padding: 10px;
    }
    
    .description-quote {
    font-family: 'Baloo Bhai', cursive;
    padding: 0 5%;
    text-align: center;
    
    }
    #hero1{
    background:url(https://d2718nis.github.io/img/background.png);
     background-size:cover;
     background-position:center center;
     background-attachment:fixed;
    }
    #hero2{
    background:url(https://d2718nis.github.io/img/background.png);
     background-size:cover;
     background-position:center center;
     background-attachment:fixed;
    }
    spam {
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    font-size: 92px;
    padding: 80px 50px;
    text-align: center;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
    background:url(https://d2718nis.github.io/img/background.png);
    }
    .xbootstrap {
    color: white;
    background-color: #2d2d2d;
    letter-spacing: .2em;
    text-shadow: -2px -2px 2px #111, 2px 2px 1px #363636;
    font-size: 20px;
    }
    #q1{
    color: wheat;
    letter-spacing: .1em;
    font-size: 12px;
    overflow-y: scroll;
    
    
    }


    body {
        padding: 20px;
        font-family: 'Open Sans', sans-serif;
        background-color: #c3dbff;
        border: #000;
        
      }
      
      .lib-panel {
        margin-bottom: 20Px;
        width: 100%;
      }
      .lib-panel img {
        width: 100%;
        height:230px;
        background-color: transparent;
        border-radius: 8px;
      }
      
      .lib-panel .row,
      .lib-panel .col-md-6 {
        padding: 0;
        /* background-color:  #c3dbff; */
      }
      
      
      .lib-panel .lib-row {
        padding: 0 20px 0 20px;
      }
      
      .lib-panel .lib-row.lib-header {
        /* background-color:  #c3dbff; */
        font-size: 20px;
        padding: 10px 20px 0 20px;
        color: #f5f6f8;
      }
      
      .lib-panel .lib-row.lib-header .lib-header-seperator {
        height: 2px;
        width: 26px;
        background-color: #d9d9d9;
        margin: 7px 0 7px 0;
      }
      
      .lib-panel .lib-row.lib-desc {
        
        height: 100%;
        display: block;
        font-size: 13px;
        color: #f5f6f8;
        width: 50%;
      }
      
      
      
      
      
      .lib-panel .lib-row.lib-desc a{
        
        width: 50%;
        bottom: 10px;
        left: 20px;
      }
      
      .row-margin-bottom {
        margin-bottom: 20px;
        
      }
      
      .box-shadow {
        box-shadow: 3px 4px 2px grey;
        border: 1px solid #f5f6f8;
        background: linear-gradient(138deg, var(--c1, #f6d365), var(--c2, #fda085) 51%, var(--c1, #f6d365)) var(--x, 0)/200%;
        transition: 1s;
        --c1: rgb(52, 54, 53);
        --c2: rgb(125, 241, 187);
        border-radius: 8px;
        padding: 10px;
        height: 370px;
        transition: all .2s;
      }
      
      .box-shadow:hover {
        box-shadow: 7px 7px 4px grey;
      }
      
      
      @media screen and (min-width: 992px) {
        
        .lib-panel .lib-row.lib-desc {
            width: 100%;
            height: 100%;
            display: block;
            font-size: 13px;
        }
      }
      
      @media screen and (min-width: 1200px) {
       
      
        .lib-panel .lib-row.lib-desc {
            width: 100%;
            height: 100%;
            display: block;
            font-size: 13px;
        }
      }
            
