<section class="padd" id="what-we-do">
    <div class="container-fluid">
        <h2 class="section-title mb-2 h1">Who we are?</h2>
        <br>
        <p class="card-text" align="left">
                There are plenty of things one can gain from exploring different places. The list includes gaining new friends, new experiences, and new stories. When you start exploring new places, you get a better understanding of the people living there, including their culture, history and background.
                Studies show that travelling can improve your overall health and enhance your creativity. Therefore, you need to take time out from your daily tasks, office responsibilities, hectic schedule, and everyday pressures at least once in a year. Plan a tour to a new city with an open schedule and let life present you with the numerous opportunities.
                Been There is the web application based on travelling. This site is for getting information about the place where the users wants to visit. Users can also view trending places and also get the information about the particular place. After signup, the user can login and can chat with another users. For knowing more about the place the users can chat with another user and can get the information about it. Users can view the review of the places. You can share your experience by giving review and uploading the images. Users can  connect with another user and share the information about the places and get to know about new places and  explore the new places.
        </p>
        <br>
        <br>
        <h2 class="section-title mb-2 h1">So what's the catch?</h2>
        <div align="center">
            <p> Why Travel?<br>
        Travel can be done by foot, bicycle, automobile, train, boat,airplaneor other means and can be one way or round trip. Travel can also include relatively short stays between successive movements.
               
            </p>
        </div>
        <br>
  
        <div class="row mt-5">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                <div class="card">
                    <div class="card-block block-1">
                        <h3 class="card-title">Everytime A new Place</h3>
                        <p class="card-text">
                                Meeting people who know nothing about you and you know nothing about them can be very interesting. It gives you an opportunity to discuss heed to new viewpoints and ideas and if you are lucky, to carry friendships forward.
                        </p>
  
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                <div class="card">
                    <div class="card-block block-2">
                        <h3 class="card-title">Been There</h3>
                        <p class="card-text">Our Site Provide people the opportunity to share their experience and moments with other people.
                            
                        </p>
  
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                <div class="card">
                    <div class="card-block block-3">
                        <h3 class="card-title">Moving to new Places</h3>
                        <p class="card-text">Every Place has its own flavour or per say culture and traditions. travelling gives us that opportunity  to meet new people with vivid culture.</p>
  
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                <div class="card">
                    <div class="card-block block-4">
                        <h3 class="card-title">Specialities</h3>
                        <p class="card-text">Been There provide the user to store his data such as images and provide his own view of that place(reviews) which can be viewed by others , also he can provide us with feedback.
                        </p>
  
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                <div class="card">
                    <div class="card-block block-5">
                        <h3 class="card-title">Announcements</h3>
                        <p class="card-text">All your Feedback and queries are welcomed to help us improve.</p>
  
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                <div class="card">
                    <div class="card-block block-6">
                        <h3 class="card-title">Lets Travel!</h3>
                        <p class="card-text">Grab Your Bags and Best friends to visit new and amazing places to roll on an Adventure.
                            Start Wandering!!
                        </p>
  
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>
  
  