<section id="hero1" class="hero">
    <div class="main-w3layouts wrapper">
      <h1 style="color:azure">SignUp</h1>
      <div class="main-agileinfo">
        <div class="agileits-top">
          <form method="post" (ngSubmit)="register()" [formGroup]="signUpForm">
            <div class="form-group">
              <input class="text" type="text" name="Username" placeholder="Username" required="" id="name"
                formControlName="name" autocomplete="off">
              <span id="nameError" class="error-message"
                *ngIf="!signUpForm.controls.name.valid && signUpForm.controls.name.dirty">Enter valid Username</span>
            </div>
            <div class="form-group">
              <input class="text email" type="email" name="email" placeholder="Email" required="" id="email"
                formControlName="email" autocomplete="off">
              <span id="emailError" class="error-message"
                *ngIf="!signUpForm.controls.email.valid && signUpForm.controls.email.dirty">Enter valid email</span>
            </div>
            <div class="form-group">
              <input class="text" type="date" style="width: 70%;" name="dob" placeholder="DOB" required="" id="dob" formControlName="dob" autocomplete="off">
              <span id="dateError" class="error-message"
                *ngIf="!signUpForm.controls.dob.valid && signUpForm.controls.dob.dirty">Enter valid Date</span>
            </div>
            <div class="form-group">
              <input class="text" type="text" name="country" placeholder="country" required="" id="country" formControlName="country" autocomplete="off">
              <span id="countryError" class="error-message"
                *ngIf="!signUpForm.controls.country.valid && signUpForm.controls.country.dirty">Enter valid Country</span>
            </div>
  
            <br>
            <div class="form-group">
              <input class="text" type="text" name="contact no" placeholder="Contact Number" required=""
                formControlName="contactNumber" autocomplete="off"><br>
              <span id="contactNumberError" class="error-message"
                *ngIf="!signUpForm.controls.contactNumber.valid && signUpForm.controls.contactNumber.dirty">Enter valid
                contact no</span>
            </div>
            <div class="form-group">
              <input class="text" type="password" name="password" placeholder="Password" required=""
                formControlName="password" autocomplete="off">
              <span id="passwordError" class="error-message"
                *ngIf="!signUpForm.controls.password.valid && signUpForm.controls.password.dirty">invalid password</span>
            </div>
            <br>
            <div class="form-group">
              <h2 style="color:beige">Choose a Avatar</h2>
              <label style="display:inline;">
                <input type="radio" formControlName="gender" name="gender" value="MALE">
                <img src="https://www.w3schools.com/howto/img_avatar.png" id="avatar">
              </label>
              <label style="display:inline;">
                <input type="radio" formControlName="gender" name="gender" value="FEMALE">
                <img src="https://www.w3schools.com/howto/img_avatar2.png" id="avatar">
              </label>
            </div>
            <!-- <input class="text w3lpass" type="password" name="password" placeholder="Confirm Password" required=""> -->
            <div class="wthree-text">
              <!-- <label class="anim">
                  <input type="checkbox" class="checkbox" required="">
                  I Agree To The Terms & Conditions
                </label> -->
              <div class="clear"> </div>
            </div>
            <input type="submit" (click)="register()" value="SIGNUP">
          </form>
          <p> Have an Account? <a [routerLink]="['/been1']"> Login Now!</a></p>
        </div>
      </div>
      <!-- copyright -->
      <div class="colorlibcopy-agile">
        <p>© 2019 Been There Signup Form. All rights reserved </p>
      </div>
      <!-- //copyright -->
      <ul class="colorlib-bubbles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
  </section>