<br>
<div class="container">
    <h1>Welcome {{Admin}}</h1>
    <!-- PROGRESS BARS -->
    <div>
        <br>
        <div class="container cardsOfFour progessbarDiv">
            <!-- PROGRESS BARS -->
            <div class="row  justify-content-center">

                <div class="col-md-6 summaryCards">
                    <div class="progressCard  w3-round-xlarge">
                        <div class="row">
                            <div class="col-sm-5">
                                <div class="radial-progress" [attr.data-progress]="bar1">
                                    <div class="circle">
                                        <div class="mask full">
                                            <div class="fill" id="bar1a"></div>
                                        </div>
                                        <div class="mask half">
                                            <div class="fill" id="bar1b"></div>
                                            <div class="fill fix"></div>
                                        </div>
                                        <div class="shadow"></div>
                                    </div>
                                    <div class="inset">
                                        <div class="percentage" id="bar1Percentage"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-7">
                                <div align="center" style="margin-top: 16%; ">
                                    <span class="fa-stack fa-3x">
                                        <i class="fa fa-sliders fa-stack-2x"></i>
                                    </span>
                                </div>
                                <h2>HelpDesk Status</h2>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 summaryCards">
                    <div class="progressCard  w3-round-xlarge">
                        <div class="row">
                            <div class="col-sm-5">
                                <div class="radial-progress" align="center" [attr.data-progress]="bar2">
                                    <div class="circle">
                                        <div class="mask full">
                                            <div class="fill" id="bar2a"></div>
                                        </div>
                                        <div class="mask half">
                                            <div class="fill" id="bar2b"></div>
                                            <div class="fill fix"></div>
                                        </div>
                                        <div class="shadow"></div>
                                    </div>
                                    <div class="inset">
                                        <div class="percentage" id="bar2Percentage"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-7">
                                <div align="center" style="margin-top: 16%;">
                                    <span class="fa-stack fa-3x">
                                        <i class="fa  fa-handshake-o fa-stack-2x"></i>
                                    </span>

                                </div>
                                <h2>User Satisfaction</h2>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- END OF PROGRESS BAR -->

        </div>
        <br>
        <h1>QUICK LINKS</h1>

        <!-- DASHBOARD LINKS -->
        <div>

            <div class="row justify-content-center">

                <div class="col-8 col-sm-4 dashboardCardouter ">

                    <div class="dashboardCard  w3-round-xlarge">

                        <h2>Add Services</h2>
                        <div align="center" style="color: whitesmoke">
                            <span class="fa-stack fa-3x">
                                <i class="fa fa-puzzle-piece fa-stack-2x"></i>
                            </span>
                        </div>
                        <a href="#ex1" rel="modal:open"></a>

                    </div>

                </div>

                <div class="col-8 col-sm-4 dashboardCardouter">

                    <div class="dashboardCard bg-grow-early w3-round-xlarge ">

                        <h2>Edit Services</h2>
                        <div align="center" style="color: whitesmoke">
                            <span class="fa-stack fa-3x">
                                <i class="fa fa-pencil-square-o fa-stack-2x"></i>
                            </span>
                        </div>

                        <a href="#ex2" rel="modal:open"></a>
                    </div>

                </div>

                <div class="col-8 col-sm-4 dashboardCardouter">

                    <div class="dashboardCard w3-round-xlarge " [routerLink]="['/adminViewTraffic']">

                        <h2>Place Traffic Stats</h2>
                        <div align="center" style="color: whitesmoke">
                            <span class="fa-stack fa-3x">
                                <i class="fa fa-bar-chart fa-stack-2x"></i>
                            </span>
                        </div>



                    </div>

                </div>

                <div class="col-8 col-sm-4 dashboardCardouter">

                    <div class="dashboardCard bg-grow-early w3-round-xlarge " (click)="viewUsers()"
                        [routerLink]="['/viewuser']">

                        <h2>View Users</h2>
                        <div align="center" style="color: whitesmoke">
                            <span class="fa-stack fa-3x">
                                <i class="fa fa-users fa-stack-2x"></i>
                            </span>
                        </div>


                    </div>

                </div>

                <div class="col-8 col-sm-4 dashboardCardouter">

                    <div class="dashboardCard as1 w3-round-xlarge " (click)="viewFeedback()"
                        [routerLink]="['/adminfeedback']">

                        <h2>User Feedbacks</h2>
                        <div align="center" style="color: whitesmoke">
                            <span class="fa-stack fa-3x">
                                <i class="fa fa-commenting fa-stack-2x"></i>
                            </span>
                        </div>

                    </div>

                </div>

                <div class="col-8 col-sm-4 dashboardCardouter">

                    <div class="dashboardCard bg-grow-early w3-round-xlarge" (click)="helpdeskQueries()"
                        [routerLink]="['/helpdesk']">

                        <h2>HelpDesk queries</h2>
                        <div align="center" style="color: whitesmoke">
                            <span class="fa-stack fa-3x">
                                <i class="fa fa-info-circle fa-stack-2x"></i>
                            </span>
                        </div>

                    </div>

                </div>

            </div>

        </div>
        <br>



        <!-- SUMMARY -->
        <div>
            <!-- TRENDING PLACES -->
            <div class="container cardsOfFour">
                <br>
                <h2 align="center">
                    <span>
                        <i class="fa fa-globe" aria-hidden="true"></i>
                    </span>
                    Trending Places </h2>
                <!-- *ngFor="let curr of trendingDestList" list should have only 4 elements -->
                <div class="w3-row-padding w3-margin-bottom">
                    <div class="col-xs-6 col-md-3 cardMargins">
                        <div class="w3-container w3-red w3-padding-16">
                            <h4>{{trendingPlaces[0].name}}</h4>
                            <div class="w3-right">
                                <h3>{{trendingPlaces[0].noOfReviews}}</h3>
                            </div>
                            <div class="w3-clear"></div>

                        </div>
                    </div>

                    <div class="col-xs-6 col-md-3 cardMargins">
                        <div class="w3-container w3-blue w3-padding-16">
                            <h4>{{trendingPlaces[1].name}}</h4>
                            <div class="w3-right">
                                <h3>{{trendingPlaces[1].noOfReviews}}</h3>
                            </div>
                            <div class="w3-clear"></div>

                        </div>
                    </div>
                    <div class="col-xs-6 col-md-3 cardMargins">
                        <div class="w3-container w3-teal w3-padding-16">
                            <h4>{{trendingPlaces[2].name}}</h4>
                            <div class="w3-right">
                                <h3>{{trendingPlaces[2].noOfReviews}}</h3>
                            </div>
                            <div class="w3-clear"></div>

                        </div>
                    </div>
                    <div class="col-xs-6 col-md-3 cardMargins">
                        <div class="w3-container w3-orange w3-text-white w3-padding-16">
                            <h4>{{trendingPlaces[3].name}}</h4>
                            <div class="w3-right">
                                <h3>{{trendingPlaces[3].noOfReviews}}</h3>
                            </div>
                            <div class="w3-clear"></div>

                        </div>
                    </div>
                </div>
            </div>
            <!--END OF TRENDING PLACES-->
            <br>
            <!-- MOST VISITED PAGE -->
            <div class="container cardsOfFour">
                <br>
                <h2 align="center">
                    <span>
                        <i class="fa fa-eye" aria-hidden="true"></i>
                    </span>
                    Most Searched Places</h2>
                <!-- *ngFor="let curr of trendingDestList" list should have only 4 elements -->
                <div class="w3-row-padding w3-margin-bottom">
                    <div class="col-xs-6 col-md-3 cardMargins">
                        <div class="w3-container w3-red w3-padding-16">
                            <h4>{{mostSearchedPlaces[0].name}}</h4>
                            <div class="w3-right">
                                <h3>{{mostSearchedPlaces[0].pageViewCount}}</h3>
                            </div>
                            <div class="w3-clear"></div>

                        </div>
                    </div>
                    <div class="col-xs-6 col-md-3 cardMargins">
                        <div class="w3-container w3-blue w3-padding-16">
                            <h4>{{mostSearchedPlaces[1].name}}</h4>
                            <div class="w3-right">
                                <h3>{{mostSearchedPlaces[1].pageViewCount}}</h3>
                            </div>
                            <div class="w3-clear"></div>

                        </div>
                    </div>
                    <div class="col-xs-6 col-md-3 cardMargins">
                        <div class="w3-container w3-teal w3-padding-16">
                            <h4>{{mostSearchedPlaces[2].name}}</h4>
                            <div class="w3-right">
                                <h3>{{mostSearchedPlaces[2].pageViewCount}}</h3>
                            </div>
                            <div class="w3-clear"></div>

                        </div>
                    </div>
                    <div class="col-xs-6 col-md-3 cardMargins">
                        <div class="w3-container w3-orange w3-text-white w3-padding-16">
                            <h4>{{mostSearchedPlaces[3].name}}</h4>
                            <div class="w3-right">
                                <h3>{{mostSearchedPlaces[3].pageViewCount}}</h3>
                            </div>
                            <div class="w3-clear"></div>

                        </div>
                    </div>
                </div>
            </div>
            <!--END OF MOST SEARCHED PLACES-->
            <br>
            <!-- MOST CONTACTED USERS -->
            <div class="container cardsOfFour">
                <br>
                <h2 align="center">
                    <span>
                        <i class="fa fa-user-circle" aria-hidden="true"></i>
                    </span>
                    Most Contacted Users</h2>
                <!-- *ngFor="let curr of trendingDestList" list should have only 4 elements -->
                <div class="w3-row-padding w3-margin-bottom">
                    <div class="col-xs-6 col-md-3 cardMargins">
                        <div class="w3-container w3-red w3-padding-16">
                            <h4>{{mostContactedUsers[0].name}}</h4>
                            <div class="w3-right">
                                <h3>{{mostContactedUsers[0].numberOfConnections}}</h3>
                            </div>
                            <div class="w3-clear"></div>

                        </div>
                    </div>
                    <div class="col-xs-6 col-md-3 cardMargins">
                        <div class="w3-container w3-blue w3-padding-16">
                            <h4>{{mostContactedUsers[1].name}}</h4>
                            <div class="w3-right">
                                <h3>{{mostContactedUsers[1].numberOfConnections}}</h3>
                            </div>
                            <div class="w3-clear"></div>

                        </div>
                    </div>
                    <div class="col-xs-6 col-md-3 cardMargins">
                        <div class="w3-container w3-teal w3-padding-16">
                            <h4>{{mostContactedUsers[2].name}}</h4>
                            <div class="w3-right">
                                <h3>{{mostContactedUsers[2].numberOfConnections}}</h3>
                            </div>
                            <div class="w3-clear"></div>

                        </div>
                    </div>
                    <div class="col-xs-6 col-md-3 cardMargins">
                        <div class="w3-container w3-orange w3-text-white w3-padding-16">
                            <h4>{{mostContactedUsers[3].name}}</h4>
                            <div class="w3-right">
                                <h3>{{mostContactedUsers[3].numberOfConnections}}</h3>
                            </div>
                            <div class="w3-clear"></div>

                        </div>
                    </div>
                </div>
            </div>
            <!--END OF MOST CONTACTED USERS-->
            <br>
        </div>

        <br><br><br><br><br><br><br>

        <!--Add Services modal-->
        <div id="ex1" class="modal">
            <div class="row">
                <div class="col-8 addServiceOption">
                    <div class="wrap">
                        <a href="#"></a>
                        <div class="ico-wrap">
                            <span class="mbr-iconfont fa-globe fa"></span>
                        </div>
                        <div class="text-wrap vcenter">
                            <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">Add
                                <span>City</span></h2>
                            <a [routerLink]="['/adminAddCity']" rel="modal:close" class="makeWholeDivATag"></a>
                        </div>
                    </div>
                </div>
                <div class="col-8 addServiceOption">
                    <div class="wrap">
                        <a href="#"></a>
                        <div class="ico-wrap">
                            <span class="mbr-iconfont fa-map-marker fa"></span>
                        </div>
                        <div class="text-wrap vcenter">
                            <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">Add
                                <span>Place</span>
                            </h2>
                            <a [routerLink]="['/adminAddPlace']" rel="modal:close" class="makeWholeDivATag"></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <a href="#" rel="modal:close">Close</a> -->
            <div class="modClose">
                <p>Close</p>

                <a href="#" rel="modal:close"></a>
            </div>

            <a href="#close-modal" rel="modal:close" class="close-modal closesym">Close</a>
        </div>

        <!--Edit Services Modal-->
        <div id="ex2" class="modal">
            <div class="row">

                <div class="col-8 addServiceOption">
                    <div class="wrap">
                        <a href="#"></a>
                        <div class="ico-wrap">
                            <span class="mbr-iconfont fa-globe fa"></span>
                        </div>
                        <div class="text-wrap vcenter">
                            <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">Update
                                <span>City/Place</span></h2>
                            <a [routerLink]="['/adminUpdate']" rel="modal:close" class="makeWholeDivATag"></a>
                        </div>
                    </div>
                </div>
                <div class="col-8 addServiceOption">
                    <div class="wrap">
                        <a href="#"></a>
                        <div class="ico-wrap">
                            <span class="mbr-iconfont fa-map-marker fa"></span>
                        </div>
                        <div class="text-wrap vcenter">
                            <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">Delete
                                <span>City/Place</span>
                            </h2>
                            <a [routerLink]="['/adminDelete']" rel="modal:close" class="makeWholeDivATag"></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Close Button -->
            <div class="modClose">
                <p>Close</p>
                <a href="#" rel="modal:close"></a>
            </div>
            <!-- Close Symbol -->
            <a href="#close-modal" rel="modal:close" class="close-modal closesym">Close</a>
        </div>

    </div>


    <!-- <div class="h-100">
            <div class="d-flex justify-content-center h-100">
              <form [formGroup]="SearchForms" (ngSubmit)="searchs()">
               <div class="searchbar">
                 <input type="text" class="search_input" placeholder="Search your hobby" formControlName="hobbySearched">
                 <button class="search_icon" type="submit">
                 <i class="fa fa-search"></i></button>
            </div>
            </form>
            </div>
          </div> -->