<!--USer Profile-->


<div class="container">
  <div>
    <div class="panel profile-panel" id="userprofile">
      <div class="panel-heading">
        <div class="text-left">
            <h2>{{userToBeDisplayed.name}}</h2>
        </div>
      </div>
      <!-- panel body -->
      <div class="panel-body">
        <div class="row">
          <div class="col-md-5" style="padding: 16px; padding-left: 5%;">
            <div class="text-center">
                
              <img 
                src="https://www.w3schools.com/howto/img_avatar.png"
                class="avatar img-circle img-thumbnail" alt="avatar">
              <h6>Upload a different photo...</h6>
              <input type="file" class="text-center center-block file-upload">
            </div>
          </div>
          <div class="col-md-6" style="padding: 16px;">
            <div class="profile-block">
              <header class="profile-header">
                <h1 style="font-weight:bold; position: relative;"><i class="fa fa-user "></i>
                  Information
                  <a href="#ex1" rel="modal:open" style="position: absolute; right: 7px;">
                    <i class="fa fa-pencil-square-o "></i>
                  </a>
                </h1>
                <!-- <ul class="actions">
                  <li>
                    <a  href="#ex1" rel="modal:open">
                    <i class="fa fa-pencil-square-o fa-stack-2x"></i>
                    </a>
                  </li>
                  </ul> -->
              </header>
              <hr>
              <div class="profile-body">
                      <div class="profile-view">
                        <dl class="dl-horizontal">
                          <dt style="font-weight: bold">Full Name:</dt>
                          <dd>{{userToBeDisplayed.name}}</dd>
                        </dl>
                        <dl class="dl-horizontal">
                          <dt style="font-weight: bold">DOB:</dt>
                          <dd>{{userToBeDisplayed.dob}}</dd>
                        </dl>
                        <dl class="dl-horizontal">
                          <dt style="font-weight: bold"> Country:</dt>
                          <dd>{{userToBeDisplayed.country}}</dd>
                        </dl>
                        <dl class="dl-horizontal">
                          <dt style="font-weight: bold">Contact No. :</dt>
                          <dd>{{userToBeDisplayed.contactNumber}}</dd>
                        </dl>
                        <dl class="dl-horizontal">
                          <dt style="font-weight: bold">Email:</dt>
                          <dd>{{userToBeDisplayed.email}}</dd>
                        </dl>
                        <!-- <dl class="dl-horizontal">
                          <dt style="font-weight: bold">Places Visited:</dt>
                          <dd>{{userToBeDisplayed.numberOfPlacesVisited}}</dd>
                        </dl> -->
                      </div>


                <!--Modal-->
                <div class="modal" id="ex1">

                  <div class="profile-edit">
                    <form method="post" [formGroup]="profileForm" (ngSubmit)="updateUserProfile()">
                      <div class="form-group">
                        <dl class="dl-horizontal">
                          <br>
                          <dt class="p-10">Full Name:</dt>
                          <dd>
                            <div class="fg-line">
                              <input type="text" class="form-control" placeholder="User Name" id="name"
                                formControlName="name">
                            </div>
                          </dd>
                        </dl>
                      </div>
                      <div class="form-group">
                        <dl class="dl-horizontal ">
                          <dt class="p-10 ">DOB:</dt>
                          <dd>
                            <div class="fg-line " action="/action_page.php">
                              <input type="date" class="form-control" placeholder="DOB.." id="dob"
                                formControlName="dob">
                            </div>
                          </dd>
                        </dl>
                      </div>
                      <div class="form-group">
                        <dl class="dl-horizontal">
                          <dt class="p-10">Country:</dt>
                          <dd>
                            <div class="fg-line">
                                <input type="text" class="form-control" placeholder="User Name" id="country"
                                formControlName="country">
                            </div>
                          </dd>
                        </dl>
                      </div>
                      <div class="form-group">
                        <dl class="dl-horizontal">
                          <dt class="p-10">Contact No:</dt>
                          <dd>
                            <div class="fg-line">
                              <input type="text" class="form-control" placeholder="eg. 097112345678" id="contactNumber"
                                formControlName="contactNumber">
                            </div>
                          </dd>
                        </dl>
                      </div>
                      <div class="form-group">
                        <dl class="dl-horizontal">
                          <dt class="p-10">Password:</dt>
                          <dd>
                            <div class="fg-line">
                              <input type="text" class="form-control" placeholder="password" id="password"
                                formControlName="password">
                            </div>
                          </dd>
                        </dl>
                      </div>
                      <div class="m-t-30">
                        <button class="btn btn-primary btn-sm waves-effect">
                            <a href="#close-modal" rel="modal:close">Save</a>
                        </button>

                      </div>
                    </form>
                  </div>

                  <a href="#close-modal" rel="modal:close" class="close-modal closesym">Close</a>
                </div>


              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end panel body -->
    </div>
  </div>
</div>