

<!-- ****************image slider********** -->
<div class="main relative">
  <div class="relative">
    <div id="myCarousel" class="carousel slide" data-ride="carousel" *ngIf="this.router.url=='/awailootgaya'">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active ">

          <img src="{{aPic}}" alt="Chania">

          <div class="carousel-caption">

            <h3>Taj Mahal</h3>

            <p>“Once a year, go someplace you've never been before.”</p>

          </div>

        </div>
        <div class="item">

          <img src="{{bPic}}" alt="Chania">

          <div class="carousel-caption">

            <h3>Kodaikanal</h3>

            <p>“Leave nothing but footprints, Take nothing but photos, Kill nothing but time.”</p>

          </div>

        </div>
        <div class="item">

          <img src="{{cPic}}" alt="Flower">

          <div class="carousel-caption">

            <h3>Mehrangarh Fort</h3>

            <p>“Fill your life with adventures, not things. Have stories to tell not stuff to show.”</p>

          </div>

        </div>
        <div class="item">

          <img src="{{dPic}}" alt="Flower">

          <div class="carousel-caption">

            <h3>Sikkim</h3>

            <p>“Live with No Excuses, Travel with no Regrets.”</p>

          </div>

        </div>
        <div class="item"> <img src="{{ePic}}" alt="Flower">

          <div class="carousel-caption">

            <h3>Leh-Ladakh</h3>
            <p>“There is a Whole World out there. Pack your backpack , your best friend and go.”</p>
          </div>
        </div>
      </div>

      <!-- Left and right controls -->

      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

    
    <!-- ------------------------search bar----------------------------- -->

    <div class="absolute" *ngIf="this.router.url=='/awailootgaya'">
      <div  class="script"><span>Travel !!</span>
        <br><span>Before You Run Out Of time...</span>
      </div>
      <div align="center" style="margin: 16px;">
        <!-- ****************Button*************** -->
        <button type="button" class="btn btn-info">Share Your Trip</button>
      </div>
      
      <div id="searchBarDiv">
        <div>
          <input type="text" id="searchInputField" autocomplete="off"  #box (keyup)="textChanged(box.value)">
          <button class="fa fa-search"></button>
        </div>
        <div *ngIf="fetchedResult" class="searchResultsBorder">
          <div *ngFor="let res of listOfMatchedResults" class="searchResultDiv">
            <hr class="searchResultSeparator">
            <div class="searchResultOption" (click)="searchResultSelected(res)">
              {{res}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ******card********* -->
  <div class="container" *ngIf="this.router.url=='/awailootgaya'">
    <figure class="snip0042 yellow col-md-4">
      <figcaption>
        <h2>Vesper <span>Lynd</span></h2>
        <p>All this modern technology just makes people try to do everything at once.</p>
        <div class="rating">
          <input type="radio" name="test" id="zero" checked />
          <input type="radio" name="test" id="one" />
          <label for="one"><i class="fa fa-star"></i></label>
          <input type="radio" name="test" id="two" />
          <label for="two"><i class="fa fa-star"></i></label>
          <input type="radio" name="test" id="three" />
          <label for="three"><i class="fa fa-star"></i></label>
          <input type="radio" name="test" id="four" />
          <label for="four"><i class="fa fa-star"></i></label>
          <input type="radio" name="test" id="five" />
          <label for="five"><i class="fa fa-star"></i></label>
        </div>
      </figcaption>
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample5.jpg" alt="sample5" />
      <figcaption>
        <div class="icons">
          <a href="#"><i class="ion-ios-home"></i></a>
          <a href="#"><i class="ion-ios-email"></i></a>
          <a href="#"><i class="ion-ios-telephone"></i></a>
        </div>
      </figcaption>
    </figure>
    <figure class="snip0042 blue col-md-3">
      <figcaption>
        <h2>Jill <span>Masterton</span></h2>
        <p>If you couldn't find any weirdness, maybe we'll just have to make some!</p>
        <div class="rating">
          <input type="radio" name="test1" id="zero1" checked />
          <input type="radio" name="test1" id="one1" />
          <label for="one1"><i class="fa fa-star"></i></label>
          <input type="radio" name="test1" id="two1" />
          <label for="two1"><i class="fa fa-star"></i></label>
          <input type="radio" name="test1" id="three1" />
          <label for="three1"><i class="fa fa-star"></i></label>
          <input type="radio" name="test1" id="four1" />
          <label for="four1"><i class="fa fa-star"></i></label>
          <input type="radio" name="test1" id="five1" />
          <label for="five1"><i class="fa fa-star"></i></label>
        </div>
      </figcaption>
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample6.jpg" alt="sample6" />
      <figcaption>
        <div class="icons">
          <a href="#"><i class="ion-ios-home"></i></a>
          <a href="#"><i class="ion-ios-email"></i></a>
          <a href="#"><i class="ion-ios-telephone"></i></a>
        </div>
      </figcaption>
    </figure>
    <figure class="snip0042 red col-md-3">
      <figcaption>
        <h2>Ruby <span>Windsor</span></h2>
        <p>The only skills I have patience to learn are those that have no real application in life.</p>
        <div class="rating">
          <input type="radio" name="test2" id="zero2" checked />
          <input type="radio" name="test2" id="one2" />
          <label for="one2"><i class="fa fa-star"></i></label>
          <input type="radio" name="test2" id="two2" />
          <label for="two2"><i class="fa fa-star"></i></label>
          <input type="radio" name="test2" id="three2" />
          <label for="three2"><i class="fa fa-star"></i></label>
          <input type="radio" name="test2" id="four2" />
          <label for="four2"><i class="fa fa-star"></i></label>
          <input type="radio" name="test2" id="five2" />
          <label for="five2"><i class="fa fa-star"></i></label>
        </div>
      </figcaption>
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample7.jpg" alt="sample7" />
      <figcaption>
        <div class="icons">
          <a href="#"><i class="ion-ios-home"></i></a>
          <a href="#"><i class="ion-ios-email"></i></a>
          <a href="#"><i class="ion-ios-telephone"></i></a>
        </div>
      </figcaption>
    </figure>
  </div>
  <!-- 
  <div class="card " style="position: relative">
      <div class="card__stars mk-rating-stars mk-rating-stars--medium" data-rating="4"></div>
      </div> -->
  <div class="container">
    <img
      src="https://www.staticshift.com.au/wp-content/themes/shiftdigital/images/travel-tourism-web-design-marketing.png"
      alt="sample7" />

  </div>