<section id="hero1" class="hero">
  <div class="inner">
    <div class="copy">
      <h1> {{placeToBeDisplayed.name}} &mdash;(Place)</h1>
      <br>
      <p>{{placeDescParts[0]}}</p>
      <div class="btn btn-primary" (click)="submitReviewAboutPlace()">
        Submit Review
      </div>
    </div>
  </div>
</section>

<section class="content">
  <div class="inner">
    <div class="copy">
      <h1>{{placeDescParts[1]}}</h1>
      <br>

    </div>
  </div>
</section>

<section id="hero3" class="hero">
  <div class="inner">
    <div class="container">
      
      <div class="container w3-row bcdcard" *ngFor="let review of reviewsList" style="margin-top:16px;">

          <div class="w3-col m2 text-center">
  
            <img class="w3-circle" src="https://www.w3schools.com/w3images/avatar2.png" style="width:96px;height:96px">
  
          </div>
  
          <div class="w3-col m10 w3-container">
  
            <div style="position: relative; height: 43px;">
  
              <h4 class="reviewUserName">{{review.userEmail.split("@")[0]}} <span class="w3-opacity w3-medium">{{review.timeStamp}}</span></h4>
  
              <span class="rating">
  
                <h5>Rating: <span class="w3-opacity w3-medium">{{review.rating}}</span> / 5</h5> 
  
              </span>
  
            </div>
  
            <p>{{review.review}}</p><br>
  
          </div>

          <div align="center">
              <img src="{{ePic}}" id="img" alt="image">
            </div>
  
        </div>

    </div>
  </div>
</section>

<section class="content">
  <div class="inner">
    <!-- <div class="copy"> -->
    <br><br><br>
    <div class="container">
      <ul id="rig">
        <li>
          <a class="rig-cell" href="#ex4" rel="modal:open">
            <img class="rig-img" src="{{aPic}}">
            <span class="rig-overlay"></span>
            <span class="rig-text"></span>
          </a>
        </li>
        <li>
          <a class="rig-cell" href="#ex4" rel="modal:open">
            <img class="rig-img" src="{{bPic}}">
            <span class="rig-overlay"></span>
            <span class="rig-text"></span>
          </a>
        </li>
        <li>
          <a class="rig-cell" href="#ex4" rel="modal:open">
            <img class="rig-img" src="{{cPic}}">
            <span class="rig-overlay"></span>
            <span class="rig-text"></span>
          </a>
        </li>
        <li>
          <a class="rig-cell" href="#ex4" rel="modal:open">
            <img class="rig-img" src="{{dPic}}">
            <span class="rig-overlay"></span>
            <span class="rig-text"></span>
          </a>
        </li>
        <li>
          <a class="rig-cell" href="#ex4" rel="modal:open">
            <img class="rig-img" src="{{ePic}}">
            <span class="rig-overlay"></span>
            <span class="rig-text"></span>
          </a>
        </li>
        <li>
          <a class="rig-cell" href="#ex4" rel="modal:open">
            <img class="rig-img" src="{{sPic}}">
            <span class="rig-overlay"></span>
            <span class="rig-text"></span>
          </a>
        </li>
        <li>
          <a class="rig-cell" href="#ex4" rel="modal:open">
            <img class="rig-img" src="{{aPic}}">
            <span class="rig-overlay"></span>
            <span class="rig-text"></span>
          </a>
        </li>
        <li>
          <a class="rig-cell" href="#ex4" rel="modal:open">
            <img class="rig-img " src="{{bPic}}">
            <span class="rig-overlay"></span>
            <span class="rig-text"></span>
          </a>
        </li>
      </ul>
    </div>
    <br><br><br><br>

    <div id="ex4" class="modal">

      <div>
        <img class="rig-img mod_img" src="{{aPic}}">

      </div>

      <a href="#close-modal" rel="modal:close" class="close-modal closesym"></a>
    </div>
    <div id="ex4" class="modal">

      <div>
        <img class="rig-img mod_img" src="{{bPic}}">

      </div>

      <a href="#close-modal" rel="modal:close" class="close-modal closesym"></a>
    </div>
    <div id="ex4" class="modal">

      <div>
        <img class="rig-img mod_img" src="{{cPic}}">

      </div>

      <a href="#close-modal" rel="modal:close" class="close-modal closesym"></a>
    </div>
    <div id="ex4" class="modal">

      <div>
        <img class="rig-img mod_img" src="{{dPic}}">

      </div>

      <a href="#close-modal" rel="modal:close" class="close-modal closesym"></a>
    </div>
    <div id="ex4" class="modal">

      <div>
        <img class="rig-img mod_img" src="{{ePic}}">

      </div>

      <a href="#close-modal" rel="modal:close" class="close-modal closesym"></a>
    </div>
    <div id="ex4" class="modal">

      <div>
        <img class="rig-img mod_img" src="{{sPic}}">

      </div>

      <a href="#close-modal" rel="modal:close" class="close-modal closesym"></a>
    </div>
    <div id="ex4" class="modal">

      <div>
        <img class="rig-img mod_img" src="{{aPic}}">

      </div>

      <a href="#close-modal" rel="modal:close" class="close-modal closesym"></a>
    </div>
    <div id="ex4" class="modal">

      <div>
        <img class="rig-img mod_img" src="{{bPic}}">

      </div>

      <a href="#close-modal" rel="modal:close" class="close-modal closesym"></a>
    </div>

    <!-- </div> -->
  </div>
</section>