<!--USer Profile-->

<div class="container">
  <div>
    <div class="panel profile-panel" id="userprofile">
      <div class="panel-heading">
        <div class="text-left">
          <h2>{{userToBeDisplayed.name}}</h2>
        </div>
      </div>
      <!-- panel body -->
      <div class="panel-body">
        <div class="row">
          <div class="col-md-5" style="padding: 16px; padding-left: 5%;">
            <div class="text-center">
              <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a0/Bill_Gates_2018.jpg/220px-Bill_Gates_2018.jpg"
                class="avatar img-circle img-thumbnail" alt="avatar">
            </div>
          </div>
          <div class="col-md-6" style="padding: 16px;">
            <div class="profile-block">
              <header class="profile-header">
                <h1 style="font-weight:bold; position: relative;"><i class="fa fa-user "></i>
                  Information
                 
                </h1>
              </header>
              <hr>
              <div class="profile-body">
                <div class="profile-view">
                  <dl class="dl-horizontal">
                    <dt style="font-weight: bold">Full Name:</dt>
                    <dd>{{userToBeDisplayed.name}}</dd>
                  </dl>
                  <dl class="dl-horizontal">
                    <dt style="font-weight: bold">DOB:</dt>
                    <dd>{{userToBeDisplayed.dob}}</dd>
                  </dl>
                  <dl class="dl-horizontal">
                    <dt style="font-weight: bold"> Country:</dt>
                    <dd>{{userToBeDisplayed.country}}</dd>
                  </dl>
                  <dl class="dl-horizontal">
                    <dt style="font-weight: bold">Contact No. :</dt>
                    <dd>{{userToBeDisplayed.contactNumber}}</dd>
                  </dl>
                  <dl class="dl-horizontal">
                    <dt style="font-weight: bold">Email:</dt>
                    <dd>{{userToBeDisplayed.email}}</dd>
                  </dl>
                  <dl class="dl-horizontal">
                    <dt style="font-weight: bold">Places Visited:</dt>
                    <dd>{{userToBeDisplayed.numberOfPlacesVisited}}</dd>
                  </dl>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end panel body -->
    </div>
  </div>
</div>
