<br>
<h1 align="center">Site Traffic Stats</h1>
<br>

<div class="container">
  <!-- FORM TO SELECT A PARTICULAR PLACE -->
  <form [formGroup]="viewPlaceForm" (ngSubmit)="viewPlace()" class="form">
    <div class="form-group">
      <select class="form-control" id="se1" *ngIf="showOptions" formControlName="cityId"
        (change)="getAllPlaceNamesInCity()">
        <option>--Select City--</option>
        <option *ngFor="let cityName of cityNamesList" value="{{cityName.split(':')[1]}}">{{cityName.split(':')[2]}}
        </option>

      </select>
    </div><br>
    <div class="form-group">
      <select class="form-control" id="sel1" *ngIf="showOptions" formControlName="placeId">
        <option>--Select Place--</option>
        <option *ngFor="let placeName of placeNamesList" value="{{placeName.split(':')[1]}}">{{placeName.split(':')[2]}}
        </option>
      </select>
    </div><br>
    <div class="form-group">
      <br>
      <button class="btn btn-success" type="submit">Fetch Place Details</button>
    </div>
  </form>

  <!---->
  <br><br><br>

  <div *ngIf="submitr">
    <!-- STATS OF A PARTICULAR PLACE -->
    <div *ngIf="true">
      <div class="w3-row-padding w3-margin-bottom">
        <div class="w3-third ">
          <div class="w3-container w3-red w3-padding-16">
            <div class="w3-left"><i class="fa fa-comment w3-xxxlarge"></i></div>
            <div class="w3-right">
              <h3>{{placeToBeViewed.reviews.length}}</h3>
            </div>
            <div class="w3-clear"></div>
            <h4>User Reviews</h4>
          </div>
        </div>
        <div class="w3-third">
          <div class="w3-container w3-blue w3-padding-16">
            <div class="w3-left"><i class="fa fa-eye w3-xxxlarge"></i></div>
            <div class="w3-right">
              <h3>{{placeToBeViewed.pageViewCount}}</h3>
            </div>
            <div class="w3-clear"></div>
            <h4>Page Views</h4>
          </div>
        </div>
        <div class="w3-third">
          <div class="w3-container w3-orange w3-text-white w3-padding-16">
            <div class="w3-left"><i class="fa fa-users w3-xxxlarge"></i></div>
            <div class="w3-right">
              <h3>{{placeToBeViewed.avgRating}}</h3>
            </div>
            <div class="w3-clear"></div>
            <h4>Average Ratings</h4>
          </div>
        </div>
      </div>
    </div>
    <!-- REVIEW CARD -->
    <div *ngIf="submitreview">

      <br><br><br>

      <div class="container w3-row bcdcard" *ngFor="let review of placeToBeViewed.reviews">

        <div class="w3-col m2 text-center">

          <img class="w3-circle" src="https://www.w3schools.com/w3images/avatar2.png" style="width:96px;height:96px">

        </div>

        <div class="w3-col m10 w3-container">

          <div style="position: relative; height: 43px;">

            <h4 class="reviewUserName">{{review.userEmail.split("@")[0]}} <span class="w3-opacity w3-medium">{{review.timeStamp}}</span></h4>

            <span class="rating">

              <h5>Rating: <span class="w3-opacity w3-medium">{{review.rating}}</span> / 5</h5> 

            </span>

          </div>

          <p>{{review.review}}</p><br>

        </div>

      </div>

      <br><br><br>
    </div>

  </div>
  <br><br><br>




</div>

<div class="container">
  <!-- TRENDING DESTINATIONS -->
  <div class="container cardsOfFour">
    <br>
    <h2 align="center">Trending Places</h2>
    <!-- *ngFor="let curr of trendingDestList" list should have only 4 elements -->
    <div class="w3-row-padding w3-margin-bottom">
      <div class="col-xs-6 col-md-3 cardMargins flip-card">
        <div class="flip-card-inner">
          <div class="w3-container w3-red w3-padding-16 flip-card-front">
            <div class="w3-center">
              <span class="fa-stack-2x">
                <span class="fa fa-square-o fa-stack-2x"></span>
                <strong class="fa-stack-1x">
                  1
                </strong>
              </span>
            </div>
            <div class="w3-clear"></div>
            <br><br>
            <h4>{{trendingPlaces[0].name}}</h4>
          </div>
          <div class="w3-container w3-red w3-padding-16 flip-card-back">
            <div class="w3-center">
              <h1>{{trendingPlaces[0].noOfReviews}}</h1>
            </div>
            <div class="w3-clear"></div>
            <h3 align="center" style="margin-top: -5px;">{{trendingPlaces[0].name}}</h3>
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-md-3 cardMargins flip-card">
        <div class="flip-card-inner">
          <div class="w3-container w3-blue w3-padding-16 flip-card-front">
            <div class="w3-center">
              <span class="fa-stack-2x">
                <span class="fa fa-square-o fa-stack-2x"></span>
                <strong class="fa-stack-1x">
                  2
                </strong>
              </span>
            </div>
            <div class="w3-clear"></div>
            <br><br>
            <h4>{{trendingPlaces[1].name}}</h4>
          </div>
          <div class="w3-container w3-blue w3-padding-16 flip-card-back">
            <div class="w3-center">
              <h1>{{trendingPlaces[1].noOfReviews}}</h1>
            </div>
            <div class="w3-clear"></div>
            <h3 align="center" style="margin-top: -5px;">{{trendingPlaces[1].name}}</h3>
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-md-3 cardMargins flip-card">
        <div class="flip-card-inner">
          <div class="w3-container w3-teal w3-padding-16 flip-card-front">
            <div class="w3-center">
              <span class="fa-stack-2x">
                <span class="fa fa-square-o fa-stack-2x"></span>
                <strong class="fa-stack-1x">
                  3
                </strong>
              </span>
            </div>
            <div class="w3-clear"></div>
            <br><br>
            <h4>{{trendingPlaces[2].name}}</h4>
          </div>
          <div class="w3-container w3-teal w3-padding-16 flip-card-back">
            <div class="w3-center">
              <h1>{{trendingPlaces[2].noOfReviews}}</h1>
            </div>
            <div class="w3-clear"></div>
            <h3 align="center" style="margin-top: -5px;">{{trendingPlaces[2].name}}</h3>
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-md-3 cardMargins flip-card">
        <div class="flip-card-inner">
          <div class="w3-container w3-orange w3-text-white w3-padding-16 flip-card-front">
            <div class="w3-center">
              <span class="fa-stack-2x">
                <span class="fa fa-square-o fa-stack-2x"></span>
                <strong class="fa-stack-1x">
                  4
                </strong>
              </span>
            </div>
            <div class="w3-clear"></div>
            <br><br>
            <h4>{{trendingPlaces[3].name}}</h4>
          </div>
          <div class="w3-container w3-orange w3-text-white w3-padding-16 flip-card-back">
            <div class="w3-center">
              <h1>{{trendingPlaces[3].noOfReviews}}</h1>
            </div>
            <div class="w3-clear"></div>

            <h3 align="center" style="margin-top: -5px;">{{trendingPlaces[3].name}}</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--END OF TRENDING PLACES-->
  <br>
  <!-- MOST VISITED PAGE -->
  <div class="container cardsOfFour">
    <br>
    <h2 align="center">Most Searched Places</h2>
    <!-- *ngFor="let curr of trendingDestList" list should have only 4 elements -->
    <div class="w3-row-padding w3-margin-bottom">
      <div class="col-xs-6 col-md-3 cardMargins flip-card">
        <div class="flip-card-inner">
          <div class="w3-container w3-red w3-padding-16 flip-card-front">
            <div class="w3-center">
              <span class="fa-stack-2x">
                <i class="fa fa-hashtag fa-stack-x" aria-hidden="true"></i>
                <strong class="fa-stack-x">
                  1
                </strong>
              </span>
            </div>
            <div class="w3-clear"></div>
            <br><br>
            <h4>{{mostSearchedPlaces[0].name}}</h4>
          </div>
          <div class="w3-container w3-red w3-padding-16 flip-card-back">
            <div class="w3-center">
              <h1>{{mostSearchedPlaces[0].pageViewCount}}</h1>
            </div>
            <div class="w3-clear"></div>
            <h3 align="center" style="margin-top: -5px;">{{mostSearchedPlaces[0].name}}</h3>
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-md-3 cardMargins flip-card">
        <div class="flip-card-inner">
          <div class="w3-container w3-blue w3-padding-16 flip-card-front">
            <div class="w3-center">
              <span class="fa-stack-2x">
                <i class="fa fa-hashtag fa-stack-x" aria-hidden="true"></i>
                <strong class="fa-stack-x">
                  2
                </strong>
              </span>
            </div>
            <div class="w3-clear"></div>
            <br><br>
            <h4>{{mostSearchedPlaces[1].name}}</h4>
          </div>
          <div class="w3-container w3-blue w3-padding-16 flip-card-back">
            <div class="w3-center">
              <h1>{{mostSearchedPlaces[1].pageViewCount}}</h1>
            </div>
            <div class="w3-clear"></div>
            <h3 align="center" style="margin-top: -5px;">{{mostSearchedPlaces[1].name}}</h3>
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-md-3 cardMargins flip-card">
        <div class="flip-card-inner">
          <div class="w3-container w3-teal w3-padding-16 flip-card-front">
            <div class="w3-center">
              <span class="fa-stack-2x">
                <i class="fa fa-hashtag fa-stack-x" aria-hidden="true"></i>
                <strong class="fa-stack-x">
                  3
                </strong>
              </span>
            </div>
            <div class="w3-clear"></div>
            <br><br>
            <h4>{{mostSearchedPlaces[2].name}}</h4>
          </div>
          <div class="w3-container w3-teal w3-padding-16 flip-card-back">
            <div class="w3-center">
              <h1>{{mostSearchedPlaces[2].pageViewCount}}</h1>
            </div>
            <div class="w3-clear"></div>
            <h3 align="center" style="margin-top: -5px;">{{mostSearchedPlaces[2].name}}</h3>
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-md-3 cardMargins flip-card">
        <div class="flip-card-inner">
          <div class="w3-container w3-orange w3-text-white w3-padding-16 flip-card-front">
            <div class="w3-center">
              <span class="fa-stack-2x">
                <i class="fa fa-hashtag fa-stack-x" aria-hidden="true"></i>
                <strong class="fa-stack-x">
                  4
                </strong>
              </span>
            </div>
            <div class="w3-clear"></div>
            <br><br>
            <h4>{{mostSearchedPlaces[3].name}}</h4>
          </div>
          <div class="w3-container w3-orange w3-text-white w3-padding-16 flip-card-back">
            <div class="w3-center">
              <h1>{{mostSearchedPlaces[3].pageViewCount}}</h1>
            </div>
            <div class="w3-clear"></div>

            <h3 align="center" style="margin-top: -5px;">{{mostSearchedPlaces[3].name}}</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--END OF MOST SEARCHED PLACES-->
  <br>

  <br><br><br>

</div>