<!--Helpdesk modal-->

<div id="ex2" class="modal">
  <h2 class="header">HelpDesk</h2>

  <form method="post" [formGroup]="helpdeskForm">
    <div class="form-group">
      <input class="form-control" type="text" name="userId" placeholder="email" id="userId" formControlName="userId"
        disabled>
    </div>
    <div class="form-group">
      <input type="text" name="querySubject" placeholder="Subject" id="querySubject" formControlName="querySubject">
    </div>

    <div class="form-group">
      <textarea class="form-control" rows="5" placeholder="Write your Queries here..." id="query"
        formControlName="query"></textarea>
      <br><br><br>
    </div>
    <button type="submit" [disabled]="helpdeskForm.invalid" (click)="submitQuery()">
      <a rel="modal:close">Submit</a>
    </button>
  </form>

  <a href="#close-modal" rel="modal:close" class="close-modal closesym"></a>
</div>