<footer id="myFooter">
    <div class="container">
        <div class="row">
            <div class="col-sm-3" align="center">
                <h2 class="logo">
                    <a href="#">
                        <img class="img-responsive" src="../assets/logo.PNG">
                    </a>
                </h2>
            </div>
            <div class="col-sm-2">
                <h5>Get started</h5>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a [routerLink]="['/userRegister']">Sign up</a></li>
                    <!-- <li><a href="#">Downloads</a></li> -->
                </ul>
            </div>
            <div class="col-sm-2">
                <h5>About us</h5>
                <ul>
                    <li><a [routerLink]="['/aboutus']"> Information</a></li>
                    <li><a [routerLink]="['/contactus']">Contact us</a></li>
                    <li><a href="#ex1" rel="modal:open">Add Feedback</a></li>
                </ul>
            </div>
            <div class="col-sm-2">
                <h5>Support</h5>
                <ul>
                    <li><a [routerLink]="['/aboutus']">FAQ</a></li>
                    <li><a href="#ex2" rel="modal:open">Help desk</a></li>
                    <!-- <li><a href="#">Forums</a></li> -->
                </ul>
            </div>
            <div class="col-sm-3">
                <div class="social-networks">
                    <a href="https://www.instagram.com/solankii_27/" class="twitter"><i class="fa fa-instagram "></i></a>
                    <a href="https://www.facebook.com/ashwani.yadav.10888938" class="facebook"><i class="fa fa-facebook"></i></a>
                    <a href="https://www.google.com/intl/en-GB/gmail/about/#" class="google"><i class="fa fa-google-plus"></i></a>
                </div>
                <button type="button" class="btn btn-default" [routerLink]="['/contactus']">Contact us</button>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <p>BeenThere © 2019 Copyright Text </p>
    </div>
</footer>

<app-user-help-desk></app-user-help-desk>
<app-user-feedback></app-user-feedback>