@import url(https://fonts.googleapis.com/css?family=Raleway:400,200,300,800);
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
figure.snip0042 {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 30px;
  min-width: 220px;
  max-width: 310px;
  width: 100%;
  height: 450px;
  background: #ffffff;
  color: #ffffff;
}
figure.snip0042 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
figure.snip0042 > img {
  max-width: 100%;
}
figure.snip0042 figcaption {
  padding: 20px 30px 20px 25%;
  position: relative;
}
figure.snip0042 figcaption h2,
figure.snip0042 figcaption p {
  margin: 0;
  text-align: right;
  padding: 10px 0;
  right: 0;
  width: 100%;
}
figure.snip0042 figcaption h2 {
  font-size: 1.3em;
  font-weight: 300;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
figure.snip0042 figcaption h2 span {
  font-weight: 800;
}
figure.snip0042 figcaption p {
  font-size: 0.9em;
  opacity: 0.8;
}
figure.snip0042 figcaption .icons {
  width: 100%;
  text-align: right;
}
figure.snip0042 figcaption .icons i {
  font-size: 26px;
  padding: 5px;
  color: #ffffff;
  top: 50%;
}
figure.snip0042 figcaption a {
  opacity: 0.3;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}
figure.snip0042 figcaption a:hover {
  opacity: 0.8;
}
figure.snip0042 .position {
  width: 100%;
  text-align: right;
  padding: 8px 30px 13px;
  font-size: 0.8em;
  opacity: 0.8;
  font-style: italic;
}
figure.snip0042:after {
  position: absolute;
  top: 0;
  left: -20%;
  height: 110%;
  width: 30%;
  background-color: #000000;
  content: '';
  border-right: 4px solid #ffffff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  -webkit-transform: skewX(-7deg) translateX(0px);
  transform: skewX(-7deg) translateX(0px);
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}
figure.snip0042.blue {
  background: #20638f;
}
figure.snip0042.blue:after {
  background: #164666;
}
figure.snip0042.red {
  background: #962d22;
}
figure.snip0042.red:after {
  background: #6d2018;
}
figure.snip0042.yellow {
  background: #bf6516;
}
figure.snip0042.yellow:after {
  background: #924d10;
}
figure.snip0042:hover:after,
figure.snip0042.hover:after {
  -webkit-transform: skewX(-7deg) translateX(10px);
  transform: skewX(-7deg) translateX(10px);
}


/* Demo purposes only */
html {
  height: 100%;
}
body {
  background-color: #212121;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
  margin: 0;
  height: 100%;
}

/* *************************** */

.script{
  margin-top: 15px;
  font-family: 'Dancing Script', cursive;
  color: rgb(39, 37, 37);
  text-align: center;
  font-size: 40px;
  position: relative;
  
}



/* ************Image slider buttons **********************/
.media-carousel 
{
  margin-bottom: 0;
  padding: 0 40px 30px 40px;
  margin-top: 50px;
}
/* Previous button  */
.media-carousel .carousel-control.left 
{
  left: -12px;
  background-image: none;
  background: none repeat scroll 0 0 #222222;
  border: 4px solid #FFFFFF;
  border-radius: 23px 23px 23px 23px;
  height: 40px;
  width : 40px;
  margin-top: 80px
}
/* Next button  */
.media-carousel .carousel-control.right 
{
  right: -12px !important;
  background-image: none;
  background: none repeat scroll 0 0 #222222;
  border: 4px solid #FFFFFF;
  border-radius: 23px 23px 23px 23px;
  height: 40px;
  width : 40px;
  margin-top: 80px
}
/* Changes the position of the indicators */
.media-carousel .carousel-indicators 
{
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}
/* Changes the colour of the indicators */
.media-carousel .carousel-indicators li 
{
  background: #161414;
}
.media-carousel .carousel-indicators .active 
{
  background: #333333;
}
.media-carousel img
{
  width: 450px;
  height: 200px
}


/* -------------------Slider------------------------ */

body {background: #ccc;}

.slider{
	width: 640px; /*Same as width of the large image*/
	position: relative;
	/*Instead of height we will use padding*/
	padding-top: 320px; /*That helps bring the labels down*/
	
	margin: 100px auto;
	
	/*Lets add a shadow*/
	box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.75);
}


/*Last thing remaining is to add transitions*/
.slider>img{
	position: absolute;
	left: 0; top: 0;
	transition: all 0.5s;
}

.slider input[name='slide_switch'] {
	display: none;
}

.slider label {
	/*Lets add some spacing for the thumbnails*/
	margin: 18px 0 0 18px;
	border: 3px solid #999;
	
	float: left;
	cursor: pointer;
	transition: all 0.5s;
	
	/*Default style = low opacity*/
	opacity: 0.6;
}

.slider label img{
	display: block;
}

/*Time to add the click effects*/
.slider input[name='slide_switch']:checked+label {
	border-color: #666;
	opacity: 1;
}
/*Clicking any thumbnail now should change its opacity(style)*/
/*Time to work on the main images*/
.slider input[name='slide_switch'] ~ img {
	opacity: 0;
	transform: scale(1.1);
}
/*That hides all main images at a 110% size
On click the images will be displayed at normal size to complete the effect
*/
.slider input[name='slide_switch']:checked+label+img {
	opacity: 1;
	transform: scale(1);
}
 /* *******************search bar************************ */

    
 #searchBarDiv {
    z-index: 3;
    position: relative;
  }
  
  #searchBarDiv input {
    width: 70%;
    height: 34px;
    margin-left: 7%;
    padding: 6px 12px;
    font-size: 16px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  }
  
  #searchBarDiv button {
    position: absolute;
    width: 16%;
    height: 34px;
    cursor: pointer;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: 6px 9px;
    font-size: 16px;
    line-height: 1.42857143;
    border-radius: 4px;
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
  }
  
  @media screen and (max-width: 767px) {
    /* #searchBarDiv {
      margin-left: 20%;
      margin-right: 20%;
    } */
  
    #searchBarDiv input {
      font-size: 14px;
    }
  
    #searchBarDiv button {
      font-size: 10px;
    }
  }
  
  .searchResultsBorder {
  
    width: 70%;
   
    border: 1px solid rgb(179, 175, 175);
   
    max-height: 97px;
   
    overflow-y: scroll;
   
   }
   
   
   
   /* .searchResultDiv {
   
    background-color: bisque;
   
    padding-left: 7px;
   
   } */
   
   
   
   .searchResultOption {
   
    background: rgb(168, 214, 208);
   
    border-radius: 3px;
   
    padding-left: 10px;
   
   }
   
   
   
   .searchResultOption:hover {
   
    background: rgb(136, 200, 238);
   
    cursor: pointer;
   
   }
   
   
   
   .searchResultSeparator {
   
    margin: 0px;
   
    padding: 0px;
   
   }

   .img1{
    width:100%;
    height:245px;
  }

  /* Start Amenities Area css
============================================================================================ */
.amenities-area {
  position: relative; }
  .amenities-area:before {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 39.5%;
    background: #f9f9ff;
    content: ""; }
    @media (max-width: 1024px) {
      .amenities-area:before {
        height: 41.5%; } }
    @media (max-width: 991px) {
      .amenities-area:before {
        height: 54.5%; } }
    @media (max-width: 767px) {
      .amenities-area:before {
        height: 100%; } }

.single-amenities {
  border: 1px solid #eee;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }
  @media (max-width: 991px) {
    .single-amenities {
      margin-bottom: 30px; } }
  .single-amenities .amenities-thumb {
    position: relative;
    overflow: hidden; }
    @media (max-width: 575px) {
      .single-amenities .amenities-thumb img {
        width: 100%; } }
    .single-amenities .amenities-thumb:before {
      position: absolute;
      content: "";
      background: rgba(255, 255, 255, 0.4);
      z-index: 999;
      left: 110%;
      top: 0;
      height: 100%;
      width: 130%;
      -webkit-transition: 0.5s;
      -moz-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s; }
  .single-amenities .amenities-details {
    padding: 25px; 
    background-color: rgb(228, 213, 149);}
    .single-amenities .amenities-details .amenities-meta {
      margin-top: 15px; }
      .single-amenities .amenities-details .amenities-meta span {
        padding-right: 15px;
        text-transform: uppercase; }
        .single-amenities .amenities-details .amenities-meta span i.fa {
          padding-right: 10px; }
    .single-amenities .amenities-details h5 {
      font-size: 18px;
      font-family: "Playfair Display", serif;
      margin: 15px 0px 15px; }
      .single-amenities .amenities-details h5 a {
        color: #222222;
        font-size: 18px;
        line-height: 27px; }
  .single-amenities:hover {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid transparent; }
    .single-amenities:hover .amenities-thumb:before {
      left: -130%; }

/************************ Start Testimonial Area css**************************** */

.owl-carousel.active_testimonial img {
  width: auto; }
.owl-carousel.active_testimonial .owl-nav {
  position: absolute;
  left: 0;
  bottom: -40%; }
  @media (max-width: 1024px) {
    .owl-carousel.active_testimonial .owl-nav {
      left: 50%;
      bottom: 0; } }
  @media (max-width: 400px) {
    .owl-carousel.active_testimonial .owl-nav {
      display: none; } }
  .owl-carousel.active_testimonial .owl-nav .owl-prev, .owl-carousel.active_testimonial .owl-nav .owl-next {
    display: inline-block;
    margin: 20px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    opacity: 1; }
    .owl-carousel.active_testimonial .owl-nav .owl-prev:hover, .owl-carousel.active_testimonial .owl-nav .owl-next:hover {
      opacity: .5; }

.single_testi .quote {
  margin-bottom: 30px; }
.single_testi .testi_content h1 {
  font-size: 42px;
  line-height: 45px;
  margin-bottom: 30px; }
  @media (max-width: 480px) {
    .single_testi .testi_content h1 {
      font-size: 34px; } }
.single_testi .testi_content p {
  font-size: 24px;
  font-style: italic;
  line-height: 30px; }
.single_testi .testi_author {
  margin-top: 30px; }
  .single_testi .testi_author .a-desc {
    display: inline-block; }
    .single_testi .testi_author .a-desc h4 {
      margin-bottom: 5px;
      font-size: 24px; }

@media (max-width: 991px) {
  .testi_img {
    display: none; } }

    div.relative {
      position: relative;
      margin-top: 61px;
    } 
    
    div.absolute {
      position: absolute; 
      bottom: 25%;
      right: 30%;
      left: 30%;
    }
    .form-control-borderless {
      border: none;
  }
  
  .form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
      border: none;
      outline: none;
      box-shadow: none;
  }


  .footer {
    position: relative;
    
    background-color: black;
    text-align: center;
    }
    .agro{
    text-align: left;
    margin-left: 1%;
    }
    .main {
        top: -61px;
    margin-top: 70px; /* Add a top margin to avoid content overlay */
    }
    
    .row{
    margin:10px;
    }
    .foot{
    background-color:black;
    width:1360.2px;
    margin-left:-2%;
    margin-right: -2%;
    
    
    }
    .btn{
    background-color:none;
    
    }
    .main{
    margin-top: -1.5%;
    }
    .about>.container-fluid>.row>.col-md-3>img{
    width:550px;
    height:400px;
    border: 10px solid transparent;
    padding: 15px;
    }
    
    .about>.container-fluid>.row{
    margin-top: 3%;
    
    }
    
    
    .glyphicon{
      color:white;
      padding-right: 5px;   
    }
    
  
    .carousel-inner > .item > img,
    .carousel-inner > .item > a > img {
      width: 100%;
      height: 547px;
      margin: auto;
    }
    
  .error-message{
  color: red;
  font-size: small;
  }
  
  /*sprite with stars*/

  .rating {

    background: #fff;
   
   }
   
   
   
   input[type="radio"] {
   
    position: fixed;
   
    top: 0;
   
    right: 100%;
   
   }
   
   
   
   .rating label {
   
    font-size: 1.5em;
   
    padding: 1px;
   
    margin: 0;
   
    float: left;
   
    cursor: pointer;
   
    transition: 0.2s;
   
   }
   
   
   
   input[type="radio"]:checked ~ input + label {
   
    background: none;
   
    color: rgb(255, 255, 255);
   
   }
   
   
   
   input + label {
   
    /* background: #fff; */
   
    color: orange;
   
    margin: 0 0 1em 0;
   
   }
   















   