

    body {
      padding: 20px;
      font-family: 'Open Sans', sans-serif;
      background-color: #c3dbff;
      border: #000;
      
    }
    .row{
      padding-top: 20px;
    }
    
    .lib-panel {
      margin-bottom: 20px;
      width: 100%;
    }
    .lib-panel img {
      width: 100%;
      height:230px;
      background-color: transparent;
      border-radius: 8px;
    }
    
    .lib-panel .row,
    .lib-panel .col-md-6 {
      padding: 0;
      /* background-color:  #c3dbff; */
    }
    
    
    .lib-panel .lib-row {
      padding: 0 20px 0 20px;
    }
    
    .lib-panel .lib-row.lib-header {
      /* background-color:  #c3dbff; */
      font-size: 20px;
      padding: 10px 20px 0 20px;
      color: #f5f6f8;
    }
    
    .lib-panel .lib-row.lib-header .lib-header-seperator {
      height: 2px;
      width: 26px;
      background-color: #d9d9d9;
      margin: 7px 0 7px 0;
    }
    
    .lib-panel .lib-row.lib-desc {
      
      height: 100%;
      display: block;
      font-size: 13px;
      color: #f5f6f8;
      width: 100%;
    }
    
    
    
    
    
    .lib-panel .lib-row.lib-desc a{
      
      width: 100%;
      bottom: 10px;
      left: 20px;
    }
    
    .row-margin-bottom {
      margin-bottom: 20px;
      
    }
    
    .box-shadow {
      box-shadow: 3px 4px 2px grey;
      border: 1px solid #f5f6f8;
      background: linear-gradient(138deg, var(--c1, #f6d365), var(--c2, #fda085) 51%, var(--c1, #f6d365)) var(--x, 0)/200%;
      transition: 1s;
      --c1: rgb(52, 54, 53);
      --c2: rgb(125, 241, 187);
      border-radius: 8px;
      padding: 10px;
      height: 400px;
      transition: all .2s;
      margin-right: 20px;
      margin-left: 15px;
      margin-right: 25px;
      
    }
    
    .box-shadow:hover {
      box-shadow: 7px 7px 4px grey;
    }
    
    
    @media screen and (min-width: 992px) {
      
      .lib-panel .lib-row.lib-desc {
          width: 100%;
          height: 100%;
          display: block;
          font-size: 13px;
      }
    }
    
    @media screen and (min-width: 1200px) {
     
    
      .lib-panel .lib-row.lib-desc {
          width: 100%;
          height: 100%;
          display: block;
          font-size: 13px;
      }
    }
  
    #hero1{
      background:url(https://images.wallpaperscraft.com/image/cubes_structure_black_blue_120005_1280x720.jpg);
       background-size:cover;
       background-position:center center;
       background-attachment:fixed;
       opacity: 0.9;
      }

/* **********************Trending Card*********************** */



body {
padding: 20px;
font-family: 'Open Sans', sans-serif;
background-color: #c3dbff;
border: #000;

}

.lib-panel1 {
margin-bottom: 20Px;
width: 100%;
}
.lib-panel1 img {
width: 100%;
height:230px;
background-color: transparent;
border-radius: 8px;
}

.lib-panel1 .row,
.lib-panel1 .col-md-6 {
padding: 0;
/* background-color:  #c3dbff; */
}


.lib-panel1 .lib-row1 {
padding: 0 20px 0 20px;
}

.lib-panel1 .lib-row1.lib-header1 {
/* background-color:  #c3dbff; */
font-size: 20px;
padding: 10px 20px 0 20px;
color: #f5f6f8;
}

.lib-panel1 .lib-row1.lib-header1 .lib-header-seperator1 {
height: 2px;
width: 26px;
background-color: #d9d9d9;
margin: 7px 0 7px 0;
}

.lib-panel1 .lib-row1.lib-desc1 {

height: 100%;
display: block;
font-size: 13px;
color: #f5f6f8;
width: 100%;
}





.lib-panel1 .lib-row1.lib-desc1 a{

width: 100%;
bottom: 10px;
left: 20px;
}

.row-margin-bottom {
margin-bottom: 20px;

}

.box-shadow1 {
box-shadow: 3px 4px 2px grey;
border: 1px solid #f5f6f8;
background: linear-gradient(138deg, var(--c1, #f6d365), var(--c2, #fda085) 51%, var(--c1, #f6d365)) var(--x, 0)/200%;
transition: 1s;
--c1: rgb(52, 54, 53);
--c2: rgb(125, 241, 187);
border-radius: 8px;
padding: 10px;
height: 300px;
transition: all .2s;
margin-right: 20px;
margin-left: 15px;
margin-right: 25px;

}

.box-shadow1:hover {
box-shadow: 7px 7px 4px grey;
}

.leftcolumn {   
float: left;
width: 70%;
margin-top: 50px;
}

/* Right column */
.rightcolumn {
float: right;
width: 30%;


}


@media screen and (min-width: 992px) {

.lib-panel1 .lib-row1.lib-desc1 {
    width: 100%;
    height: 100%;
    display: block;
    font-size: 13px;
}
}

@media screen and (min-width: 1200px) {


.lib-panel1 .lib-row1.lib-desc1 {
    width: 100%;
    height: 100%;
    display: block;
    font-size: 13px;
}
}


.row:after {
content: "";
display: table;
clear: both;
}